@charset "UTF-8";
// ===========================
// Distance: margin, padding
// ===========================

// margin-top
.mgt-0 {
  margin-top: 0;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgt-15 {
  margin-top: 15px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgt-25 {
  margin-top: 25px;
}

.mgt-30 {
  margin-top: 30px;
}

.mgt-35 {
  margin-top: 35px;
}

.mgt-40 {
  margin-top: 40px;
}

.mgt-45 {
  margin-top: 45px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgt-55 {
  margin-top: 55px;
}

.mgt-60 {
  margin-top: 60px;
}

.mgt-65 {
  margin-top: 65px;
}

.mgt-70 {
  margin-top: 70px;
}

.mgt-75 {
  margin-top: 75px;
}

.mgt-80 {
  margin-top: 80px;
}

.mgt-85 {
  margin-top: 85px;
}

.mgt-90 {
  margin-top: 90px;
}

.mgt-95 {
  margin-top: 95px;
}

.mgt-100 {
  margin-top: 100px;
}


// margin-bottom
.mgb-0 {
  margin-bottom: 0 !important;
}

.mgb-5 {
  margin-bottom: 5px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-15 {
  margin-bottom: 15px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-25 {
  margin-bottom: 25px;
}

.mgb-30 {
  margin-bottom: 30px;
}

.mgb-35 {
  margin-bottom: 35px;
}

.mgb-40 {
  margin-bottom: 40px;
}

.mgb-45 {
  margin-bottom: 45px;
}

.mgb-50 {
  margin-bottom: 50px;
}

.mgb-55 {
  margin-bottom: 55px;
}

.mgb-60 {
  margin-bottom: 60px;
}

.mgb-65 {
  margin-bottom: 65px;
}

.mgb-70 {
  margin-bottom: 70px;
}

.mgb-75 {
  margin-bottom: 75px;
}

.mgb-80 {
  margin-bottom: 80px;
}

.mgb-85 {
  margin-bottom: 85px;
}

.mgb-90 {
  margin-bottom: 90px;
}

.mgb-95 {
  margin-bottom: 95px;
}

.mgb-100 {
  margin-bottom: 100px;
}


// margin-left
.mgl-0 {
  margin-left: 0;
}

.mgl-1 {
  margin-left: 1px;
}

.mgl-2 {
  margin-left: 2px;
}

.mgl-3 {
  margin-left: 3px;
}

.mgl-4 {
  margin-left: 4px;
}

.mgl-5 {
  margin-left: 5px;
}

.mgl-6 {
  margin-left: 6px;
}

.mgl-7 {
  margin-left: 7px;
}

.mgl-8 {
  margin-left: 8px;
}

.mgl-9 {
  margin-left: 9px;
}

.mgl-10 {
  margin-left: 10px;
}

// margin-right
.mgr-0 {
  margin-right: 0;
}

.mgr-1 {
  margin-right: 1px;
}

.mgr-2 {
  margin-right: 2px;
}

.mgr-3 {
  margin-right: 3px;
}

.mgr-4 {
  margin-right: 4px;
}

.mgr-5 {
  margin-right: 5px;
}

.mgr-6 {
  margin-right: 6px;
}

.mgr-7 {
  margin-right: 7px;
}

.mgr-8 {
  margin-right: 8px;
}

.mgr-9 {
  margin-right: 9px;
}

.mgr-10 {
  margin-right: 10px;
}

.mgr-20 {
  margin-right: 20px;
  @include mq(sm2) {
    margin-right: 10px;
  }
}


// padding
.pdt-10 {
  padding-top: 10px !important;
}
.pdt-20 {
  padding-top: 20px !important;
}
.pdt-30 {
  padding-top: 30px !important;
}
.pdt-40 {
  padding-top: 40px !important;
}
.pdt-50 {
  padding-top: 50px !important;
}



@charset "UTF-8";
// ===========================
// Distance: margin, padding
// ===========================

$i : 10;
$max : 300;
$step : 5;
$unit: 1px;
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.m-center {
  margin: 0 auto;
}
@while $i < $max {
  .mb-#{$i} {
      margin-bottom: ($i * $unit)!important;
  }
  .mt-#{$i} {
      margin-top: ($i * $unit)!important;
  }
  .mr-#{$i} {
      margin-right: ($i * $unit)!important;
  }
  .ml-#{$i} {
      margin-left: ($i * $unit)!important;
  }
  .pb-#{$i} {
      padding-bottom: ($i * $unit)!important;
  }
  .pt-#{$i} {
      padding-top: ($i * $unit)!important;
  }
  .pr-#{$i} {
      padding-right: ($i * $unit)!important;
  }
  .pl-#{$i} {
      padding-left: ($i * $unit)!important;
  }
  $i: $i + $step;
}

