@charset "UTF-8";
// ===========================
// FORM, INPUT, 
// CHECKBOX, SELECT, ...
// ===========================

// Form, input, checkbox
.form {
  position: relative;
  font-size: fs(12);
  color: #818181;
  &-label {
    color: #474F5F;
    font-weight: bold;
  }
  &-groupField {
    display: flex;
    margin: -3px;
    &--item {
      padding: 3px;
    }
  }
  &-ctrl {
    margin: 40px -7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(sm2) {
      padding: 0 10px;
      &.type2 {
        flex-wrap: wrap;
        flex-flow: column-reverse;
        padding: 0 20px;
        .form-ctrl--item {
          width: 100% !important;
          margin: 0 0 10px 0;
          a {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    &--item {
      padding: 0 7px;
      @include mq(sm2) {
        &.btn-submitWrap {
          width: calc(100% - 70px);
          .btn-submit {
            width: 100%;
          }
        }
      }
    }
    @include mq(sm2) {
      margin-top: 20px;
    }
  }
  &-ctrl2 {
    margin-top: 40px;
    text-align: center;
    &--link {
      margin-top: 35px;
    }
  }
  &--error {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: fs(12);
    color: #FF0000;
  }
  &-input {
    &.type-btn {
      display: flex;
      align-items: center;
      ._num {
        width: 200px;
        @include mq(sm2) {
          width: 100px;
        }
      }
      ._unit {
        width: 100px;
      }
    }
  }
}

.input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 10px 16px;
  color: #818181;
  background-color: #fff;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  transition: all .3s;
  font-family: $font-base;
  @include mq(sm2) {
    padding: 10px;
  }
  &.error {
    color: #ACACAC;
    border: solid 1px #FF0000;
    background-color: #FFF2F2;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C7C7C7;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C7C7C7;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #C7C7C7;
  }
  &:focus,
  &.active {
    border-color: #474F5F;
    background-color: #fff;
    color: #474F5F;
  }
  &.textarea {
    height: 140px;
  }
  &.textarea2 {
    height: 100px;
    @include mq(sm2) {
      height: 180px;
    }
  }
  &.textarea3 {
    height: 400px;
    @include mq(sm2) {
      height: 300px;
    }
  }
  &.textarea4 {
    height: 170px;
    @include mq(sm2) {
      height: 180px;
    }
  }
  &.textarea5 {
    height: 60px;
    @include mq(sm2) {
      height: 60px;
    }
  }
  &.type2 {
    width: 60px;
    display: inline-block;
    padding: 10px 16px;
  }
  &.type3 {
    width: 72px;
    display: inline-block;
    padding: 10px;
  }
  &.type4 {
    width: 48%;
    @include mq(sm2) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &.type5 {
    width: 220px;
    height: 50px;
    @include mq(sm2) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &.type6 {
    width: 48%;
    @include mq(sm2) {
      width: 100%;
    }
  }
  &.type7 {
    width: 60%;
    @include mq(sm2) {
      width: 100%;
    }
  }
  &.type8 {
    width: 175px;
    font-size: fs(14);
    @include mq(sm2) {
      width: 100%;
    }
  }
  &.type9 {
    width: 100%;
    font-size: fs(14);
    @include mq(sm2) {
      width: 100%;
    }
  }
  &.type10 {
    width: 250px;

    @include mq(sm2) {
      width: 100%;
    }
  }
  &.hasBtn {
    width: 100%;
    margin: 0 auto;
    padding-right: 45px;
    font-size: fs(14);
    @include mq(sm2) {
      // font-size: fs(14);
      height: 50px;
    }
  }
  &._date {
    padding-right: 50px;
    background: url(../images/common/icon-calendar-gray.svg) right 20px center no-repeat;
  }
}

.input-submit {
  width: 38px;
  height: 38px;
  border: none;
  background: #68A0FA url(../images/common/icon-search-white.svg) center center no-repeat;
  box-shadow: none;
  border-radius: 2px;
  transition: all .25s;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
}

.select {
  display: inline-block;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
        appearance: none;
  background: #fff url(../images/common/icon-arrow-down-blue.svg) right 12px center / 10px 5px no-repeat;
  font-family: $font-base;
  padding: 10px 40px 10px 16px;
  cursor: pointer;
  @include mq(sm2) {
    padding: 10px 35px 10px 10px;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
      display: none;
  }
  &.type2 {
    display: block;
    width: 100%;
  }
  &.type3 {
    width: 100px;
  }
  &.small {
    padding-right: 28px;
  }
}

.checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 38px;
  }

  // Box.
  &+label:before {
    top: -5px;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 30px;
    height: 30px;
    background: #FAFCD7;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    content: '';
    @include mq() {
    	top: -8px;
  	}
  }
  &:checked + label:before {
    background-color: #7B7B6C;
    border-color: #7B7B6C;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked+label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
    background: #FAFCD7;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #FAFCD7,
      4px 0 0 #FAFCD7,
      4px -2px 0 #FAFCD7,
      4px -4px 0 #FAFCD7,
      4px -6px 0 #FAFCD7,
      4px -8px 0 #FAFCD7;
    transform: rotate(45deg);
    @include mq() {
    	top: 6px;
  	}
  }
}

.checkbox2 {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    cursor: pointer;
    // padding: 0 0 0 38px;
    padding: 0 0 0 24px;
  }

  // Box.
  &+label:before {
    top: -17px;
    left: 0;
    position: absolute;
    // margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 22px;
    height: 22px;
    background: #fff url(../images/common/icon-cbox.svg) center center no-repeat;
    background-size: 12px 8px;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    content: '';
    @include mq() {
      top: -15px;
    }
  }
  &:checked + label:before {
    background: #5DC1CF url(../images/common/icon-cbox-white.svg) center center no-repeat;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

}

.checkbox3 {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    cursor: pointer;
    // padding: 0 0 0 38px;
    padding: 0 0 0 24px;
  }

  // Box.
  &+label:before {
    top: -2px;
    left: 0;
    position: absolute;
    // margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 22px;
    height: 22px;
    background: #fff url(../images/common/icon-cbox.svg) center center no-repeat;
    background-size: 12px 8px;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    content: '';
    @include mq() {
      top: -2px;
    }
  }
  &:checked + label:before {
    background: #5DC1CF url(../images/common/icon-cbox-white.svg) center center no-repeat;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

}

.form-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -6px -10px;

  &--item {
    width: 25%;
    padding: 6px 10px;
    @include mq(sm2) {
      width: 50%;
    }
    &.type2 {
      width: auto;
    }
  }

  label {
    display: inline-flex;
    cursor: pointer;
    vertical-align: top;

    > {
      input {
        display: none;
      }

      span {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &::before {
          content: "";
          display: block;
          height: 22px;
          width: 22px;
          border: 1px solid #ccc;
          background: #fff;
          margin-right: 8px;
          border-radius: 50%;
          flex-shrink: 0;
        }
      }

      input:checked + span {
        &::before {
          border-color: #5DC1CF;
          background: #5DC1CF;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 7px;
          width: 8px;
          height: 8px;
          background: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

.search {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../images/common/icon-search.svg) 100% 100% no-repeat;
  content: "";
}

.form-action {
  display: flex;
  justify-content: center;
}

.form-search {
  position: relative;
  margin: 0 auto 30px;
  &Wrap {
    margin-bottom: 25px;
    border-bottom: solid 1px #EBEBEB;
  }
  .input-submit {
    position: absolute;
    top: 3px;
    right: 3px;
    @include mq(sm2) {
      top: 4px;
      right: 4px;
      width: 42px;
      height: 42px;
    }
  }
}

.important {
  position: relative;
  &:after {
    position: absolute;
    left: -3px;
    top: 14px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    display: block;
    color: #FF000B;
    font-weight: bold;
    font-size: 12px;
    content: "※";
  }
}

.form-row2 {
  display: flex;
  align-items: center;
  &--label {
    min-width: 50px;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.form-image {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  &--item {
    width: 50%;
    padding: 10px;
    @include mq(sm2) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &-thumb {
      height: 180px;
      @include mq(sm2) {
        height: 208px;
      }
    }
    &-ctrl {
      text-align: center;
      margin-top: 10px;
      @include mq(sm2) {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.last {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.form-itemDel {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #F4F4F4;
  &:last-child {
    margin-bottom: 0;
  }
  &--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &--ttl {
    font-size: fs(14);
    font-weight: bold;
    color: #474F5F;
  }
}

.form-itemRadioInput {
  display: flex;
  @include mq(sm2) {
    display: block;
  }
  .form-radio {
    flex-wrap: nowrap;
    margin-left: 30px;
    @include mq(sm2) {
      margin-left: 0;
      margin-top: 15px;
    }
    &--item {
      width: 100%;
      @include mq(sm2) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}