@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(18);
    line-height: fs(30);
    font-weight: bold;
    color: #5DC1CF;
    font-family: $font-base;
    @include mq(sm2) {
      font-size: fs(16);
      line-height: fs(27);
    }
  }
  h3 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(18);
    font-weight: bold;
    color: #5DC1CF;
    font-family: $font-base;
    @include mq(sm2) {
      font-size: fs(14);
      line-height: fs(18);
    }
  }
  h4 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(18);
    font-weight: bold;
    color: #5DC1CF;
    font-family: $font-base;
    @include mq(sm2) {
      font-size: fs(14);
      line-height: fs(18);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(13);
    line-height: fs(16);
    font-weight: bold;
    font-family: $font-base;
    @include mq(sm2) {
      font-size: fs(13);
      line-height: fs(18);
    }
  }
  p {
  	position: relative;
    font-size: fs(14);
    line-height: fs(24);
    color: #474F5F;
    @include mq(sm2) {
      font-size: fs(12);
      line-height: fs(21);
    }
  }
  a {
    // color: #7B7B6C;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
    &:not([class]),
    &[href$=".pdf"],
    &[target^="_blank"]  {
      position: relative;
      padding-right: 18px;
      font-size: fs(14);
      line-height: 1;
      color: #68A0FA;
      transition: all .3s;
      @include mq(sm2) {
        font-size: fs(12);
      }
    }

    &:not([class]) {
      background: url(../images/common/icon-arrow-blue.svg) right center / 5px 10px  no-repeat;
    }
    &[href$=".pdf"]  {
      background: url(../images/common/icon-pdf-blue.svg) right center / 12px 13px  no-repeat;
    }
    &[target^="_blank"]  {
      background: url(../images/common/icon-blank-blue.svg) right center / 10px 10px  no-repeat !important;
    }
  }
  b {
    font-weight: bold;
    color: #474F5F;
    font-size: fs(14);
    @include mq(sm2) {
      font-size: fs(12);
    }
  }
}

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv3 {
	position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(18);
  line-height: fs(27);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Description
--------------------*/
.desc {
	font-size: fs(15);
  line-height: 1.8;
  color: #474F5F;
  @include mq() {
    font-size: fs(13);
  }
}

.desc2 {
  font-size: fs(18);
  color: #474F5F;
  letter-spacing: 0.9px;
  line-height: 1.8;
  @include mq() {
    font-size: fs(14);
  }
}

.desc3 {
  font-size: fs(16);
  line-height: 1.8;
  color: #474F5F;
  @include mq() {
    font-size: fs(14);
  }
}

.desc4 {
  font-size: fs(12);
  color: #474F5F;
  @include mq() {
    font-size: fs(11);
  }
}

.desc5 {
  font-size: fs(12);
  color: #474F5F;
  @include mq() {
    font-size: fs(11);
  }
}

.desc6 {
  font-size: fs(14);
  color: #474F5F;
  line-height: 1.6;
  @include mq() {
    font-size: fs(13);
  }
}

.desc7 {
	font-size: fs(15);
  line-height: 1.8;
  color: #474F5F;

  @include mq() {
    font-size: fs(14);
  }
}

.txt-bold {
  font-weight: bold;
}

.txt-bold2 { 
  font-weight: bold;
  font-size: fs(14);
  color: #474F5F;
}

.txt-bold3 { 
  font-size: fs(14);
  color: #474F5F;
}


.txt-alert {
  font-size: fs(14);
  color: #FF0000;
  line-height: 1.6;
  @include mq() {
    font-size: fs(13);
  }
}

.txt-blue {
  color: #68A0FA;
}

.ttl-bold { 
  font-weight: bold;
  font-size: fs(18);
  @include mq() {
    font-size: fs(16);
  }
}

.ttl-bold2 { 
  font-weight: bold;
  font-size: fs(30);
  color: #474F5F;
   @include mq() {
    font-size: fs(26);
  }
}

.ttl-bold3 { 
  font-weight: bold;
  font-size: fs(18);
  color: #474F5F;
  @include mq() {
    font-size: fs(16);
  }
}

.ttl-bold4 { 
  font-weight: bold;
  font-size: fs(16);
  color: #474F5F;
  @include mq() {
    font-size: fs(14);
  }
}

.ttl-bold5 { 
  font-weight: bold;
  font-size: fs(12);
  color: #474F5F;
  @include mq() {
    font-size: fs(11);
  }
}

.ttl-bold6 { 
  font-weight: bold;
  font-size: fs(20);
  @include mq() {
    font-size: fs(18);
  }
}

.ttl-bold7 { 
  font-weight: bold;
  font-size: fs(18);
  color: #68A0FA;
}

.ttl-bold8 { 
  font-weight: bold;
  font-size: fs(16);
  color: #5DC1CF;
  &.type2 {
    width: 48%;
    flex-shrink: 0;
    margin-right: 10px;
    @include mq(sm2) {
      width: 100%;
      margin-right: 0;
    }
  }
  &.type3 {
    width: 70%;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.ttl-rating {
  display: inline-block;
  padding: 2px 0 2px 25px;
  color: #474F5F;;
  font-weight: bold;
  background: url(../images/common/icon-smile.svg) left center no-repeat;
  &.sad {
    background-image: url(../images/common/icon-sad.svg);
  }
}

.txt-rating {
  display: inline-block;
  padding: 2px 0 2px 25px;
  background: url(../images/common/icon-smile.svg) left center no-repeat;
  &.sad {
    background-image: url(../images/common/icon-sad.svg);
  }
}

.txt-guide  {
  display: inline-block;
  font-size: fs(12);
  color: #68A0FA;
  padding: 2px 0;
  background: url(../images/common/icon-check-blue.svg) left center no-repeat;
  background-size: 0;
  &.check { 
    padding-left: 18px;
    background-size: auto;
  }
}

.ttl-underline {
  font-size: fs(26);
  font-weight: bold;
  color: #474F5F;
  @include mq() {
    font-size: fs(20);
  }
  &.in {
    span {
      background-size: 100% 18px;
      @include mq() {
        background-size: 100% 10px;
      }
    }
  }
  span {
    display: inline;
    padding-bottom: 6px;
    background: url(../images/common/underline-yellow.gif) left bottom/0 18px no-repeat;
    transition: all 1s;
    @include mq() {
      padding-bottom: 0;
      background-size: 100% 10px;
    }
  }
}

.ttl-underline2 {
  font-size: fs(26);
  font-weight: bold;
  color: #474F5F;
  span {
    display: inline;
    padding-bottom: 6px;
    background: url(../images/common/underline-yellow.gif) left bottom/100% 18px repeat-x;
  }
}

.ttl-location {
  display: inline-block;
  padding-left: 18px;
  color: #818181;
  font-size: fs(12);
  background: url(../images/common/icon-maker-yellow.svg) left center no-repeat;
}

.ttl-icon {
  padding: 5px 0 5px 48px;
  font-size: fs(18);
  font-weight: bold;
  color: #5DC1CF;
  background: url(../images/common/icon-fac.svg) no-repeat;
  background-position: left top 25px;
  transition: background-position cubic-bezier(.215, .61, .355, 1) .6s;

  &.in {
    background-position: left top 5px;
    // background-position: left center;
  }

  &.doc {
    background-image: url(../images/common/icon-doc.svg);
  }

  &.dol {
    display: inline-block;
    margin: 0 0 11px;
    background-image: url(../images/common/icon-donate.svg);
  }
}

.ttl-name {
  padding-left: 20px;
  font-size: fs(16); 
  font-weight: bold;
  color: #474F5F;
  background: url(../images/common/icon-female.svg) left center no-repeat;
  &.male {
    background-image: url(../images/common/icon-male.svg);
  }
}

.ttl-bg {
  position: relative;
  font-weight: bold;
  font-size: fs(18);
  color: #474F5F;
  background-color: #D0E2DB;
  padding: 10px 15px;
  &:before {
    position: absolute;
    top: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #5DC1CF;
    content: "";
  }
}

.ttl-bg2 {
  position: relative;
  font-weight: bold;
  font-size: fs(16);
  color: #474F5F;
  background-color: #D0E2DB;
  padding: 10px 15px;
}

.ttl-blue {
  font-size: fs(14);
  font-weight: bold;
  color: #68A0FA;
}

.ttl-blue2 {
  font-size: fs(14);
  color: #68A0FA;
}

.ttl-green {
  font-size: fs(16);
  font-weight: bold;
  color: #5DC1CF;
}

.ttl-hand {
  font-size: fs(26);
  font-weight: bold;
  color: #474F5F;
  margin: 0 0 20px;

  @include mq() {
    font-size: fs(20);
  }

  &.in {
    span {
      background-size: 100% auto;

      @include mq() {
        background-size: 100% auto;
      }
    }
  }

  span {
    display: inline;
    padding-bottom: 6px;
    background-image: url(../images/teaser/marker-01.svg);
    background-size: 0 auto;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all 1s;

    @include mq() {
      padding-bottom: 0;
      background-size: 100% auto;
    }
  }

  &.fadeup {
    span {
      background-size: 100% auto;

      @include mq() {
        background-size: 100% auto;
      }
    }
  }
}


.count {
  &Wrap {
    position: relative;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: #5DC1CF;
  border-radius: 50%;
  font-family: $font-c;
  font-size: fs(10);
  color: #fff;
}

/* -------------------
  Section Title
--------------------*/
.section-title {
  position: relative;
	display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: fs(18);
  font-family: $font-a;
  color: #5DC1CF;
  text-transform: uppercase;
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px #5DC1CF;
    // background-color: #fff;
    content: "";
  }
  @include mq() {
	  font-size: fs(18);
  }
}

/* -------------------
  Date, time, phone
--------------------*/
.phone {
  color: #68A0FA;
  font-size: fs(22);
  font-family: $font-c;
  &:hover {
    color: #68A0FA;
  }
}

.date {
  font-family: $font-a;
  font-size: fs(14);
  line-height: fs(21);
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.date2 {
  font-size: fs(12);
  @include mq() {
    font-size: fs(11);
  }
}

.date3 {
  font-family: $font-b;
  font-size: fs(12);
  color: #9A9A9A;
  @include mq() {
    font-size: fs(11);
  }
}

.date4 {
  font-family: $font-c;
  font-size: fs(12);
  color: #474F5F;
  @include mq() {
    font-size: fs(11);
  }
}

.date5 {
  font-family: $font-c;
  font-size: fs(12);
  color: #474F5F;
  @include mq() {
    font-size: fs(11);
  }
}

.date6 {
  font-size: fs(12);
  color: #818181;
  @include mq() {
    font-size: fs(11);
  }
}

.date7 {
  font-size: fs(12);
  color: #474F5F;
  @include mq() {
    font-size: fs(11);
  }
}

.date8 {
  font-family: $font-c;
  font-size: fs(14);
  color: #818181;
  @include mq() {
    font-size: fs(13);
  }
}


.date-icon {
  padding-left: 18px;
  font-size: fs(12);
  color: #818181;
  background: url(../images/common/icon-clock.png) left top 3px / 14px 14px no-repeat;
  @include mq() {
    font-size: fs(11);
  }
}

.price {
  font-size: fs(42);
  line-height: 1;
  font-family: $font-a;
  color: #FF7676;
  .unit {
    font-size: fs(18);
    font-family: $font-base;
  }
}
/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 4px 6px;
  background-color: #EDEBDE;
  color: #7B7B6C;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }

  &.type2 {
    padding: 2px 8px 1px;
    background-color: #7B7B6C;
    color: #fff;
  }
}

.tag2 {
  display: inline-block;
  font-size: fs(12);
  color: #818181;
}

.tag3 {
  display: inline-block;
  margin-right: 2px;
  padding: 2px 6px;
  background-color: #EBEBEB;
  color: #818181;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }

  &.pink {
    background-color: #FFADAD;
  }
}

.tag4 {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 5px;
  padding: 4px 6px;
  background-color: #EBEBEB;
  color: #818181;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }
}

.tag5 {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 5px;
  padding: 0 4px;
  background-color: #fff;
  color: #3F7DD1;
  border: solid 1px #3F7DD1;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }
}

.cat {
  font-size: fs(11);
  font-weight: bold;
  color: #5DC1CF;
}

.cat2 {
  font-size: fs(11);
  font-weight: bold;
  color: #fff;
  background-color: #3F7DD1;
  padding: 4px 6px;
}

.label {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: $font-a;
  font-size: fs(10);
  line-height: fs(15);
  border: solid 1px #000;
  background-color: #fff;
  @include mq() {
    padding: 1px 3px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.label-gray {
  padding: 2px 3px;
  min-width: 70px;
  display: inline-block;
  font-size: fs(12);
  border-radius: 2px;
  color: #818181;
  background-color: #F4F4F4;
  text-align: center;
  &.pink {
    background-color: #FFADAD;
  }
}

.label-gray2 {
  display: inline-block;
  border-radius: 21px;
  padding: 2px 12px;
  font-size: fs(12);
  background-color: #C7C7C7;
  color: #474F5F;
}

.label-gray3 {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 12px;
  font-size: fs(12);
  background-color: #C7C7C7;
  color: #474F5F;
}


.label-green {
  padding: 2px 3px;
  min-width: 58px;
  display: inline-block;
  font-size: fs(12);
  border-radius: 2px;
  color: #fff;
  background-color: #5DC1CF;
  text-align: center;
}

.label-green2 {
  padding: 1px 5px;
  min-width: 58px;
  display: inline-block;
  font-size: fs(12);
  border-radius: 2px;
  color: #fff;
  background-color: #5DC1CF;
  text-align: center;
}

.label-yellow {
  padding: 2px 3px;
  min-width: 58px;
  display: inline-block;
  font-size: fs(12);
  border-radius: 2px;
  color: #474F5F;
  background-color: #FFCE00;
  text-align: center;
}

.label-white {
  padding: 1px 3px;
  min-width: 36px;
  display: inline-block;
  font-size: fs(12);
  border-radius: 2px;
  color: #474F5F;
  background-color: #fff;
  border: solid 1px #474F5F;
  text-align: center;
}

.label-msg {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-left: 10px;
  border-radius: 5px;
  font-size: fs(12);
  font-weight: bold;
  color: #fff;
  background-color: #5DC1CF;
  padding: 10px;
  @include mq(sm2) {
    margin-left: 0;
    margin-top: 15px;   
  }
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 7px solid #5DC1CF;
    border-bottom: 5px solid transparent;
    content: "";
    @include mq(sm2) {
      left: 15px;
      top: 0;
      transform: translate(0, -100%);
      -webkit-transform: translate(0, -100%);
      border-top: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid #5DC1CF;
    }
  }
}

.label-search {
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  min-width: 72px;
  height: 22px;
  line-height: 22px;
  font-size: fs(12);
  color: #818181;
  border-radius: 2px;
  background-color: #FFFAC1;
  text-align: center;
  &.green {
    background-color: #C1FFC6;
  }
  &.pink {
    background-color: #F6D7FC;
  }
  &.green2 {
    background-color: #DBD9C3;
  }
  &.blue {
    background-color: #D1E1FF;
  }
  &.gray {
    background-color: #E0E0E0;
  }
  &.blue2 {
    background-color: #C1F8FF;
  }
  &.pink2 {
    background-color: #FFCBCB;
  }
}

.label-search2 {
  margin-bottom: 4px;
  display: inline-block;
  border-radius: 2px;
  border: solid 1px #D0E2DB; 
  padding: 2px 5px;
  color: #5DC1CF;
  font-size: fs(12);
}

.label-time {
  padding: 3px 5px;
  color: #818181;
  background-color: #fff;
  font-size: fs(12);
  border-radius: 3px;
}

/* -------------------
  Link, Button, Tab
--------------------*/
.link {
  transition: all .3s;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link2 {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .8;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}


.link-icon {
  position: relative;
  padding-right: 14px;
  font-size: fs(14);
  line-height: 1;
  color: #7B7B6C;
  transition: all .3s;
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 12px 12px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.link-icon2 {
  position: relative;
  padding-right: 18px;
  font-size: fs(14);
  line-height: 1;
  color: #68A0FA;
  transition: all .3s;
  @include mq(sm2) {
    font-size: fs(12);
  }
  &.blank {
    background: url(../images/common/icon-blank-blue.svg) right center / 10px 10px  no-repeat;
    &.type2 {
      background-image: url(../images/common/icon-blank-blue2.svg);
    }
  }
  &.pdf {
    background: url(../images/common/icon-pdf-blue.svg) right center / 12px 13px  no-repeat;
    &.type2 {
      background-image: url(../images/common/icon-pdf-blue2.svg);
    }
  }
  &.arrow {
    padding-right: 14px;
    background: url(../images/common/icon-arrow-blue.svg) right center / 5px 10px  no-repeat;
  }
}

.link-blue {
  display: inline-block;
  font-size: fs(12);
  color: #68A0FA;
  transition: all .25s;
  &:hover {
    opacity: .8;
  }
  &.type2 {
    font-size: inherit;
  }
  &.type3 {
    font-size: fs(15);
  }
}

.link-blue2 {
  display: block;
  font-size: fs(12);
  color: #68A0FA;
  @include mq() {
    width: 325px;
    margin: 0 auto;
    max-width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: solid 1px #68A0FA;
    text-align: center;
    background: #fff url(../images/common/icon-arrow-right-blue.svg) right 15px center no-repeat;
  }
}

.link-green {
  display: inline-block;
  font-size: fs(12);
  color: #5DC1CF;
  transition: all .25s;
  &:hover {
    opacity: .8;
  }
}

.link-map {
  padding: 3px 8px;
  border-radius: 2px;
  background-color: #68A0FA;
  color: #fff;
  font-family: $font-c;
  font-size: fs(12);
  text-align: center;
  transition: all .25s;
  &:hover {
    opacity: .8;
    color: #fff;
  }
  span {
    display: inline-block;
    padding-right: 12px;
    background: url(../images/common/icon-maker.svg) right center no-repeat;
  }
  
}


.btn-yellow {
  display: inline-block;
  font-size: fs(15);
  font-weight: bold;
  background-color: #FFCE00;
  border-radius: 52px;
  padding: 15px;
  min-width: 208px;
  text-align: center;
  color: #000;
  transition: all .3s;
  &:hover {
    color: #000;
    background-color: #F5DC70;
  }
}

.btn-yellow2 {
  display: inline-block;
  font-size: fs(20);
  font-weight: bold;
  background-color: #FFCE00;
  border-radius: 52px;
  padding: 25px 30px;
  min-width: 322px;
  text-align: center;
  color: #474F5F;
  transition: all .3s;
  &:hover {
    color: #474F5F;
    background-color: #F5DC70;
  }
}

.btn-yellow3 {
  display: inline-block;
  font-size: fs(14);
  font-weight: bold;
  border-radius: 52px;
  padding: 5px 12px 5px 8px;
  min-width: 145px;
  text-align: center;
  color: #000;
  transition: all .3s;
  background: #FFCE00 url(../images/common/icon-next-arrow.svg) right 8px center / 4px 8px  no-repeat;
  @include mq(sm2) {
    font-size: fs(12);
    padding: 5px 10px 5px 6px;
    min-width: 125px;
  }
  &:hover {
    color: #000;
    background-color: #F5DC70;
  }
}

.btn-yellow4 {
  width: 250px;
  display: inline-block;
  color: #474F5F;
  font-weight: bold;
  padding: 16px 9px;
  background-color: #FFCE00;
  border: solid 1px #FFCE00;
  font-size: fs(14);
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  @include mq(sm2) {
    width: 100%;
  }
  &:hover {
    // color: #FFCE00;
    background-color: #fff;
  }
  &.type2 {
    width: 100%;
  }
}

.btn-pink {
  display: inline-block;
  background-color: #FF7676;
  color: #fff;
  height: 72px;
  font-size: fs(18);
  font-weight: bold;
  line-height: 72px;
  min-width: 310px;
  max-width: 100%;
  border-radius: 72px;
  text-align: center;
  transition: all .3s;
  &:hover {
    opacity: .8;
    color: #fff;
  }
}

.btn-blue {
  display: inline-block;
  color: #fff;
  padding: 6px 9px;
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
}

.btn-blue2 {
  display: inline-block;
  width: 280px;
  height: 52px;
  line-height: 52px;
  max-width: 95%;
  color: #fff;
  font-size: fs(14);
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
}

.btn-blue3 {
  display: inline-block;
  color: #fff;
  width: 123px;
  max-width: 100%;
  padding: 6px 9px;
  font-size: fs(14);
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
  &.type2 {
    min-width: 178px;
    @include mq(sm2) {
      width: 100%;
    }
  }
}

.btn-blue4 {
  display: inline-block;
  color: #fff;
  padding: 6px 9px;
  font-size: fs(12);
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
}

.btn-blue5 {
  display: inline-block;
  width: 335px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  font-size: fs(14);
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;

  @include mq() {
    max-width: 100%;
  }

  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
}

.btn-blue6 {
  display: inline-block;
  width: 322px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: fs(20);
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 30px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 700;

  @include mq() {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
}

.btn-white {
  display: inline-block;
  color: #68A0FA;
  padding: 6px 9px;
  background-color: #fff;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #68A0FA;
  }
}

.btn-white2 {
  display: inline-block;
  color: #68A0FA;
  width: 90px;
  max-width: 100%;
  padding: 4px 12px;
  background-color: #fff;
  border: solid 1px #68A0FA;
  font-size: fs(12);
  font-weight: bold;
  border-radius: 1px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #fff;
    background-color: #68A0FA;
  }
}

.btn-white3 {
  display: inline-block;
  width: 280px;
  height: 52px;
  line-height: 52px;
  max-width: 95%;
  color: #68A0FA;
  font-size: fs(14);
  background-color: #fff;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #68A0FA;
  }
}

.btn-white4 {
  display: inline-block;
  width: 250px;
  padding: 16px 9px;
  max-width: 95%;
  color: #68A0FA;
  font-size: fs(14);
  background-color: #fff;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #68A0FA;
  }
}

.btn-submit {
  width: 250px;
  display: inline-block;
  color: #fff;
  padding: 16px 9px;
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  font-size: fs(14);
  font-weight: bold;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  @include mq(sm2) {
    width: 100%;
  }
  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
  &.type2 {
    width: 100%;
  }
  &.type3 {
    width: 335px;
    @include mq(sm2) {
      width: 100%;
    }
  }
  &.type4 {
    width: 280px;
    margin: 0 auto;
  }
}

.btn-new {
  width: 48px;
  display: inline-block;
  color: #fff;
  padding: 9px 0;
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  font-size: fs(14);
  font-weight: bold;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  // @include mq(sm2) {
  //   width: 100%;
  // }
  &:hover {
    color: #68A0FA;
    background-color: #fff;
  }
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 26px;
  padding: 0 10px;
  color: #fff;
  background-color: #5DC1CF;
  border: solid 1px #5DC1CF;
  border-radius: 26px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .25s;
  &:hover {
    opacity: .8;
    // color: #5DC1CF;
    // background-color: #fff;
  }
}

.btn-search {
  width: 280px;
  max-width: 100%;
  display: inline-block;
  color: #fff;
  padding: 13px 9px;
  background-color: #68A0FA;
  border: solid 1px #68A0FA;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  &.type2 {
    span {
      &:before {
        top: 1px;
      }
    }
  }
  &:hover {
    color: #68A0FA;
    background-color: #fff;
    span {
      &:before {
        background-image: url(../images/common/icon-search-blue.svg);
      }
    }
  }
  span {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    &:before {
      position: absolute;
      top: 4px;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../images/common/icon-search-white.svg) no-repeat;
      background-size: contain;
      content: "";
    }
  }
}

.btn-del {
  width: 250px;
  display: inline-block;
  color: #818181;
  padding: 16px 9px;
  background-color: #fff;
  border: solid 1px #C7C7C7;
  border-radius: 5px;
  transition: all .25s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  @include mq(sm2) {
    width: auto;
    border: none;
    background: none !important;
    padding: 0;

  }
  &:hover {
    background-color: #C7C7C7;
  }
  span {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    @include mq(sm2) {
      padding-left: 0;
      padding-top: 18px;
    }
    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      display: inline-block;
      width: 18px;
      height: 20px;
      background: url(../images/common/icon-trash.svg) no-repeat;
      background-size: contain;
      content: "";
      @include mq(sm2) {
        top: 0;
        left: calc(50% - 6px);
        width: 12px;
        height: 14px;
      }
    }
  }
}

.btn-del2 {
  display: inline-block;
  transition: all .25s;
  &:hover {
    opacity: .8;
  }
  &Wrap {
    padding: 18px 0;
  }
  &.type2 {
    @include mq(sm2) {
      span {
        padding-left: 0;
        padding-top: 18px;
        &:before {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
      }
    }
  }
  span {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    font-size: fs(14);
    &:before {
      position: absolute;
      top: 3px;
      left: 0;
      display: inline-block;
      width: 12px;
      height: 14px;
      background: url(../images/common/icon-trash.svg) no-repeat;
      background-size: contain;
      content: "";
    }
  }
}

.btn-del3 {
  display: inline-block;
  width: 40px;
  transition: all .25s;
  &:hover {
    opacity: .8;
  }
  span {
    position: relative;
    display: inline-block;
    padding-top: 18px;
    font-size: fs(14);
    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 12px;
      height: 14px;
      background: url(../images/common/icon-trash.svg) no-repeat;
      background-size: contain;
      content: "";
    }
  }
}

.btn-edit {
  display: inline-block;
  padding-left: 18px;
  font-size: fs(14);
  transition: all .25s;
  &:hover {
    opacity: .8;
  }
}

.btn-viewmore {
  display: inline-block;
  background-color: #fff;
  color: #474F5F;
  height: 55px;
  line-height: 55px;
  font-size: fs(12);
  font-family: $font-a;
  font-weight: 500;
  min-width: 154px;
  max-width: 100%;
  border-radius: 72px;
  text-align: center;
  transition: all .3s;
  @include mq(sm2) {
    width: 100%;
  }
  span {
    padding-right: 21px;
    background: url(../images/common/icon-arrow-right.svg) right 3px center no-repeat;
    transition: all .3s;
  }
  &:hover {
    // opacity: .8;
    color: #474F5F;
    // color: #fff;
    span {
      background-position: right 0 center;
    }
  }
}

.btn-add {
  padding: 3px 0 3px 26px;
  color: #68A0FA;
  font-size: fs(14);
  background: url(../images/common/icon-add.svg) left center no-repeat;
  transition: all .25s;
  &:hover {
    opacity: .8;
    color: #68A0FA;
  }
}

.btn-add2 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/common/icon-add-gray.svg) center center no-repeat;
  transition: all .25s;
  &:hover {
    opacity: .8;
  }
}

.btn-like {
  padding: 6px 8px;
  font-size: fs(12);
  color: #474F5F;
  border: solid 1px #FF9D00;
  border-radius: 4px;
  &.type2 {
    min-width: 95px;
    display: inline-block;
    padding: 4px 8px;
  }
  span {
    display: inline-block;
    padding-left: 20px; 
    background: url(../images/common/icon-like.svg) left center / 16px 16px no-repeat;
    // background-size:
  }
  &.dis {
    border-color: #7EA8D3;
    span {
      background: url(../images/common/icon-dislike.svg) left center / 16px 16px no-repeat;
    }
  }
}

.btn-map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  padding: 18px 0;
  border-radius: 6px;
  border: solid 1px #818181;
  font-size: fs(12);
  @include mq(sm2) {

  }
}

.btn-stoke {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;

  a {
    transition: opacity .3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-ctrl2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  max-width: 100%;
  padding: 20px 0;
  margin: 0 auto;

  &--link {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 1px #5DC1CF;
    background-color: #5DC1CF;
    border-radius: 50%;
    transition: all .3s;
    &.type2 {
      border-color: #3F7DD1;
      background-color: #3F7DD1;
    }
    &:hover {
      opacity: .7;
    }
    &:after {
      display: inline-block;
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 5px);
      width: 12px;
      height: 12px;
      background: url(../images/blog/arrow-left.svg) center center / 100% 100% no-repeat;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    &:after {
      left: calc(50% - 6px);
      transform: rotate(180deg);
      background: url(../images/blog/arrow-left.svg) center center / 100% 100% no-repeat;
    }
  }
  &--count {
    font-size: fs(15);
    color: #B7B7B7;
  }

  .next {
    margin-left: auto;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }