@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================

// @font-face{
//   font-family: EuclidFlex;
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot'); // IE9 Compat Modes
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff2') format('woff2'),  Super Modern Browsers 
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff') format('woff'), // Pretty Modern Browsers
//        url('../font/EuclidFlex/EuclidFlex-Regular.ttf')  format('truetype'), // Safari, Android, iOS
//        url('../font/EuclidFlex/EuclidFlex-Regular.svg#svgFontName') format('svg'); // Legacy iOS
// }

body {
  font-family: $font-base;
  font-weight: 500;
  &.fixed {
    height: 100vh;
    overflow: hidden;
    // display: flex;
  }
}

// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block;

  @include mq() {
    display: none !important;
  }
}

.pc-only2 {
  display: inline-block;

  @include mq() {
    display: none !important;
  }
}

.pc-only3 {
  display: table-cell;

  @include mq(sm2) {
    display: none !important;
  }
}

.pc-only4 {
  display: block;

  @include mq(sm2) {
    display: none !important;
  }
}

.sp-only {
  display: none !important;

  @include mq() {
    display: block !important;
  }
}

.sp-only2 {
  display: none !important;

  @include mq() {
    display: inline-block !important;
  }
}

.sp-only3 {
  display: none !important;

  @include mq(sm2) {
    display: block !important;
  }
}

.sp-only4 {
  display: none !important;

  @include mq(sm4) {
    display: block !important;
  }
}

.ls-only {
  display: none !important;

  @include mq(ls) {
    display: block !important;
  }
}


// =========================================
// WRAPPER
// =========================================
.wrapper {
  // min-width: 1400px;
  // padding-top: 90px;
  overflow: hidden;
  @include mq() {
    // min-width: 100%;
    // padding-top: 50px;
  }
}

// =========================================
// MAIN
// =========================================
.main {
  // padding-bottom: 80px;
  // background-color: #F7F6ED;
}

// =========================================
// CONTAINER
// =========================================
.container2 {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}

.container3 {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}

.container4 {
  position: relative;
  width: 560px;
  margin: 0 auto;
  @include mq(sm2) {
    width: 100%;
  }
}

.container5 {
  position: relative;
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  @include mq(sm2) {
    width: 100%;
  }
}

.container6 {
  position: relative;
  width: 460px;
  max-width: 100%;
  margin: 0 auto;
  @include mq(sm2) {
    width: 100%;
  }
}
// =========================================
// Layout
// =========================================
.p-20 {
  padding-left: 20px;
  padding-right: 20px;
}