@charset "UTF-8";

/* -------------------
  FOOTER
--------------------*/
.footer {
	padding: 90px 50px 0;

	&.type2 {
		padding: 0;

		.footer-copy {
			padding: 40px 0;
		}
	}

	@include mq() {
		padding: 90px 0 0;
	}

	&-logo {
		margin-bottom: 45px;
		text-align: center;

		@include mq(sm2) {
			margin-bottom: 40px;
		}

		&--ttl {
			margin-bottom: 15px;
			font-size: fs(13);
			font-weight: bold;
			color: #5DC1CF;
		}

		&--img {
			width: 125px;
			margin: 0 auto;

			@include mq(sm2) {}
		}

		&--img2 {
			width: 280px;
			margin: 0 auto;

			@include mq(sm2) {}
		}
	}

	&-direct {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include mq(sm2) {
			// margin: 0 -10px;
			// padding: 0 20px;
			justify-content: flex-start;
		}

		&.type2 {
			li {
				padding: 0 10px;

				@include mq(sm2) {
					width: 50%;
				}

				a {
					// font-size: fs(15);
					// font-weight: bold;
					// color: #818181;
					display: inline-block;
					min-width: 158px;
					padding: 12px 20px;
					background-color: #68A0FA;
					border-radius: 43px;
					color: #fff;
					font-size: fs(15);
					text-align: center;

					@include mq(sm2) {
						display: block;
						min-width: auto;
					}
				}
			}
		}

		&.type3 {
			@include mq(sm2) {
				justify-content: center;

				li {
					width: auto;
				}
			}
		}

		li {
			padding: 0 20px;

			@include mq(sm2) {
				width: 50%;
				padding: 0 10px;
				margin-bottom: 20px;
			}

			a {
				font-size: fs(15);
				font-weight: bold;
				color: #818181;

				@include mq(sm2) {
					display: block;
					padding: 12px;
					background-color: #68A0FA;
					border-radius: 43px;
					color: #fff;
					font-size: fs(15);
					text-align: center;
				}
			}
		}
	}

	&-direct2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 20px;

		@include mq(sm2) {
			margin: 10px 0 40px;
			padding: 0 20px;
			justify-content: center;
		}

		li {
			position: relative;
			padding: 0 20px;

			&:after {
				position: absolute;
				top: 5px;
				right: 0;
				display: block;
				width: 1px;
				height: 15px;
				background-color: #E6E5DC;
				content: "";
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			@include mq(sm2) {
				// width: 50%;
			}

			a {
				// font-size: fs(15);
				// font-weight: bold;
				// color: #818181;
				display: inline-block;
				color: #68A0FA;
				font-size: fs(15);
				text-align: center;

				@include mq(sm2) {
					display: block;
					min-width: auto;
				}
			}
		}
	}

	&-sns {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 60px 0;

		@include mq(sm2) {
			margin: 15px 0 40px;
		}

		li {
			padding: 0 12px;

			@include mq(sm2) {
				padding: 0 40px;
			}

			a {
				@include mq(sm2) {
					.insta {
						width: 31px;
					}

					.tw {
						width: 31px;
					}

					.fb {
						width: 16px;
					}
				}
			}
		}

		&--teaser {
			margin: 60px 0 0;
		}
	}

	&-nav {
		&--list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include mq(sm2) {
				padding: 25px 0 15px;
				border-top: solid 1px #E6E5DC;
				border-bottom: solid 1px #E6E5DC;
			}

			li {
				padding: 0 15px;
				margin-bottom: 10px;

				@include mq(sm2) {
					width: 50%;
				}

				a {
					font-size: fs(13);
					color: #818181;
				}
			}
		}
	}

	&-copy {
		padding: 40px 0 80px;

		@include mq(sm2) {
			padding: 40px 0 60px;
		}

		p {
			color: #B1B1B1;
			font-size: fs(12);
			text-align: center;
		}
	}
}