@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5vw;
  padding-right: 168px;
  font-size: fs(14);
  line-height: fs(24);
  font-weight: bold;
  color: #fff;
  // background-color: #fff;
  z-index: 999;
  transition: all .4s;
  &.scroll {
    height: 80px;
    background: rgba(255,255,255,.8);
    color: #394255;
    .header-login {
      top: 12px;
    }
    .header-ctrl {
      top: 22px;
    }
  }
  @include mq() {
    height: 70px;
    padding-left: 0;
    padding-right: 0;
    color: #394255;
    &.open {
      background-color: #fff;
    }
  }
  &-logo {
    .logo {
      position: absolute;
      top: 18px;
      left: 22px;
      width: 101px;
      height: 81px;
      transition: all .3s;
      @include mq() {
        // position: static;
        top: 0;
        left: 14px;
        width: 60px;
        height: 60px;
      }
      &.active {
        width: 70px;
        top: 0px;
        @include mq() {
          top: 0;
          left: 14px;
          width: 60px;
          height: 60px;
        }
        svg {
          .a {
            fill: #5DC1CF;
          }
        }
      }
      img, svg {
        width: 100%;
      }
    }
  }

  &-search {
    position: fixed;
    top: 30px;
    left: 120px;
    z-index: 999;
    @include mq() {
      top: 24px;
      left: 100px;
    }
    @include mq(sm2) {
      left: 88px;
    }
  }

  &-nav {
    position: fixed;
    display: flex;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    @include mq(sm2) {
      top: 20px;
    }
    &--item {
      margin-right: 40px;
      @include mq(sm2) {
        margin-right: 5px;
      }
      &:last-child {
        margin-right: 0;
      }
      &-link {
        position: relative;
        padding: 5px 0 5px 26px;
        font-size: fs(14);
        font-weight: bold;
        color: #818181;
        background: url(../images/common/icon-fac.svg) no-repeat;
        background-size: 18px 16px;
        background-position: left top 5px;
        @include mq(sm2) {
          display: inline-block;
          min-width: 98px;
          background-position: top center;
          padding: 15px 0 0;
          font-size: fs(11);
          text-align: center;
        }
        &:hover {
          color: #818181;
        }
        &:after {
          position: absolute;
          bottom: -8px;
          display: block;
          width: 100%;
          height: 3px;
          background-color: #EBEBEB;
          content: "";
          @include mq(sm2) {
            bottom: -8px;
            height: 2px;
          }
        }
        &.active {
          color: #5DC1CF;
          font-size: fs(16);
          &:after {
            background-color: #5DC1CF;
          }
          @include mq(sm2) {
            font-size: fs(11);
          }
        }
        &.doc {
          background-image: url(../images/common/icon-doc-gray.svg);
        }
      }
    }
  }

  &-nav2 {
    position: fixed;
    right: 40px;
    top: 30px;
    @include mq() {
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      display: block;
      padding: 80px 20px 20px;
      background-color: #fff;
      transform: translateX(100%);
      transition: all .25s;
      overflow-y: auto;
      &.active {
        transform: translateX(0);
      }
    }
    &--inner {
      display: flex;
      @include mq() {
        display: block;
      }
    }
    // @include mq(sm2) {
    //   top: 20px;
    // }
    &--item {
      margin-right: 40px;
      @include mq(sm2) {
        margin-right: 5px;
      }
      &:last-child {
        margin-right: 0;
      }
      &-link {
        position: relative;
        font-size: fs(13);
        color: #474F5F;
        &:hover {
          color: #818181;
        }
        @include mq() {
          display: block;
          padding: 15px 20px 15px 25px;
          font-size: fs(13);
          line-height: fs(18);
          border-radius: 60px;
          letter-spacing: .33px;
          color: #000;
          font-weight: bold;
          background: #fff url(../images/blog/icon-pencil.svg) left 12px center / 16px 16px no-repeat;
          text-align: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.07);
          border-radius: 0;
          background-position: left center;
        }
      }
    }
  }

  &-menu {
    @include mq() {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      // border-top: solid 1px #E3E3E3;
      padding: 80px 30px 200px;
      transition: all .3s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      overflow-y: auto;
      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        z-index: 999;
      }
    }
    ul {
      display: flex;
      align-items: center;
      @include mq() {
        flex-wrap: wrap;
        margin-bottom: 60px;
      }

      li {
        margin-right: 1.88vw;
        &:last-child {
          margin-right: 0;
          @include mq() {
            border-bottom: solid 1px #F1F4F6;
          }
        }
        @include mq() {
          display: block;
          width: 100%;
          margin-right: 0;
          // margin-bottom: 30px;
          border-top: solid 1px #F1F4F6;
          a {
            display: block;
            padding: 25px; 
            text-align: left;
            font-size: fs(16);
            text-align: left;
            background: url(../images/common/arrow-right2-gray.svg) right 30px center no-repeat;
            &.privacy {
              font-weight: normal;
            }
          }
        }
      }
    }

    &--login {
      
    }
  }

  &-ctrl {
    // display: none;
    position: fixed;
    top: 29px;
    right: 40px;
    width: 55px;
    height: 30px;
    z-index: 999;
    transition: all .3s;
    background: url(../images/common/menu-open.svg) no-repeat;
    &.active {
      background-image: url(../images/common/menu-open-black.svg);
    }
    &.open {
      width: 28px;
      height: 18px;
      background-image: url(../images/common/menu-close.svg);
    }
    @include mq() {
      display: block;
      top: 24px;
      right: 30px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 30px;
      background: #000;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
        width: 20px;
        left: 5px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(35deg);
        }

        &:nth-child(2) {
          // opacity: 0;
          top: 6px;
          transform: rotate(-35deg);
        }

        &:nth-child(3) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }
      }
    }
  }

  &-login {
    position: fixed;
    top: 18px;
    right: 125px;
    z-index: 999;
  }

  &.type2 {
    height: 88px;
    background-color: #fff;
    &.blog {
      background-color: transparent;
    }
    @include mq() {
      height: 72px;
    }
    .header-logo {
      .logo {
        width: 67px;
        height: 54px;
        left: 30px;
        @include mq() {
          width: 54px;
          top: 15px;
          left: 18px;
        }
        &.active {
          top: 12px;
          @include mq() {
            top: 15px;
          }
          svg {
            .a {
              fill: #5DC1CF;
            }
          }
        }
        &.type2 {
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
      }
      .logo2 {
        display: inline-block;
        width: 354px;
        height: auto;
        left: 30px;
        @include mq() {
          margin-left: 20px;
        }
        @include mq(sm2) {
          width: 200px;
        }
        img {
          width: 100%;
        }
      }
    }
    .header-ctrl {
     @include mq() {
        width: 45px;
        // top: 24px;
        right: 20px;
     }
    }
    &.scroll {
      height: 80px;
      background: rgba(255,255,255,.8);
      color: #394255;
      @include mq() {
        height: 72px;
      }
      .header-login {
        top: 12px;
      }
      .header-ctrl {
        top: 22px;
        @include mq() {
          top: 24px;
        }
      }
      .header-search {
        top: 24px;
      }
    }
  }
  
}

.header-pre {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0;

  @include mq() {
    padding: 15px 10px 0;
  }

  .header-logo {
    .logo {
      position: relative;
      top: 0;
      left: 0;
      width: 280px;
      height: 26px;
      transition: all .3s;
      z-index: 1000;

      @include mq() {
        display: block;
        top: 0;
        left: 0;
        max-width: calc(100vw - 80px);
      }

      &.active {
        width: 180px;
        top: 25px;

        @include mq() {
          top: 20px;
          left: 17px;
        }

        svg {
          .a {
            fill: #5DC1CF;
          }
        }
      }

      img, svg {
        width: 100%;
      }
    }
  }

  &__gnav {
    display: flex;
    align-items: center;

    @include mq() {
      transition: all .4s;
      background: #fff;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: -100vh;
      left: 0;
      display: block;
      padding: 110px 25px 20px;
    }

    &.show {
      @include mq() {
        top: 0;
      }
    }

    li {
      margin: 0 0 0 1.5vw;
      font-weight: 700;
      font-size: fs(13);
      padding: 7px 0;

      @include mq(pc2) {
        font-size: fs(15);
        margin: 0 0 0 2.5vw;
      }

      @include mq() {
        padding: 0;
      }

      a {
        transition: opacity .3s;

        @include mq() {
          padding: 14px 0;
          border-bottom: 1px solid #E6E5DC;
          display: block;
        }

        &:hover {
          opacity: 0.7;
        }
      }

      &:last-of-type {
        a {
          display: block;
          background: #EBFF00;
          font-size: fs(13);
          padding: 8px 25px 6px;
          border-radius: 35px;

          @include mq() {
            border: none;
            text-align: center;
            padding: 15px 25px;
            margin: 30px 0 0;
          }
        }
      }

      &:nth-last-of-type(2) {
        a {
          @include mq() {
            border: none;
          }
        }
      }
    }
  }

  &__ctrl {
    display: none;

    @include mq() {
      position: fixed;
      top: 15px;
      right: 15px;
      width: 45px;
      height: 20px;
      z-index: 999;
      transition: all .3s;
      background: url(../images/common/menu-open.svg) no-repeat;
      display: block;
    }
    

    &.active {
      background-image: url(../images/common/menu-open-black.svg);
    }
    &.open {
      width: 28px;
      height: 18px;
      background-image: url(../images/common/menu-close.svg);
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 30px;
      background: #000;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
        width: 20px;
        left: 5px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(35deg);
        }

        &:nth-child(2) {
          // opacity: 0;
          top: 6px;
          transform: rotate(-35deg);
        }

        &:nth-child(3) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }
      }
    }
  }

  &.scroll {
    @include mq() {
      height: 70px;
    }
  }
}



