.sidebar {
	border-radius: 0px 0px 2px 2px;
	@include mq() {
		position: fixed;
		top: 0;
		right: 0;
		display: block;
		width: 100%;
		transform: translateX(-100%);
		transition: all .25s ease;
		z-index: 9999998;
		background-color: #000;
		&.active {
			transform: translateX(0);
		}
		// &:after {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	display: block;
		// 	width: 90px;
		// 	height: 100vh;
		// 	background-color: #000;
		// 	content: "";
		// }
	}
	&-main {
		@include mq() {
			width: calc(100% - 90px);
			margin-left: auto;
			height: 100vh;
			background-color: #fff;
			overflow-y: auto;
		}
	}
	&-list {
		li {
			&.has_sub {
				._sub {
					display: none;
				}
				@include mq() {
					border-bottom: solid 1px #EBEBEB;
					._link {
						border-bottom: 0;
						padding-bottom: 8px;
						&:after {
							right: 20px;
							// top: calc(50% - 4px);
							// transform: rotate(90deg);
							// -webkit-transform: rotate(90deg);
						}
						&.active {
							&:after {
								right: 22px;
								top: calc(50% - 4px);
								transform: rotate(-90deg);
								-webkit-transform: rotate(-90deg);
							}
						}
					}
					._sub {
						padding-left: 20px;
						padding-bottom: 8px;
						display: none;
						li {
							a {
								padding-top: 8px;
								padding-bottom: 8px;
								border: none;
							}
						}
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 16px 27px 16px 20px;
				color: #818181;
				font-weight: bold;
				font-size: fs(12);
				background-color: #fff;
				border-bottom: solid 1px #EBEBEB;
				@include mq() {
					padding-left: 30px;
				}
				&:hover {
					&:after {
						right: 16px;
					}
				}
				.countWrap {
					position: relative;
					.count {
						position: absolute;
						right: -25px;
						top: 0;
					}
				}
				&:after {
					position: absolute;
					top: calc(50% - 5px);
					right: 20px;
					display: block;
					width: 5px;
					height: 10px;
					background: url(../images/common/icon-next-arrow-blue.svg) no-repeat;
					background-size: contain;
					content: "";
					transition: all .25s;
				}
			}
		}
	}
	&-link {
		display: flex;
		justify-content: flex-end;
		padding: 15px 20px;
		background-color: #fff;
		font-size: fs(12);
		a {
			position: relative;
			color: #68A0FA;
			padding: 0 12px;
			transition: all .25s;
			&:hover {
				opacity: .8;
			}
			&:after {
				position: absolute;
				right: 1px;
				top: 3px;
				display: block;
				width: 1px;
				height: 14px;
				background-color: #EBEBEB;
				content: "";
			}
			&:last-child {
				padding-right: 0;
				&:after {
					display: none;
				}
			}
		}
	}
	&-btnClose {
		display: none;
		@include mq() {
			display: block;
			position: fixed;
			top: 20px;
			left: 20px;
			width: 20px;
			height: 20px;
			background: url(../images/common/icon-x-white2.svg) no-repeat;
			z-index: 9999999;
		}
	}
	&--name {
		padding: 15px 0;
		font-size: fs(14);
		font-weight: bold;
		color: #fff;
		background-color: #5DC1CF;
		border-radius: 2px 2px 0 0;
		text-align: center;
		@include mq() {
			border-radius: 0;
			font-size: fs(12);
		}
		span {
			font-size: fs(10);
		}
	}
}
