.p-agreement {
    padding: 60px 100px;
    background-color: #fff;
    font-size: 0.75rem;

    @include mq() {
        padding: 30px 20px 50px;
    }

    &__content {
        color: #474F5F;

        h3 {
            font-size: fs(18);
            font-weight: 700;
            margin: 55px auto 30px;
            color: #5DC1CF;
        }

        h4 {
            font-size: fs(16);
            font-weight: 700;
            margin: 30px auto 13px;
        }

        h5 {
            font-weight: 700;
            margin: 18px 0 5px;
        }

        p {
            margin: 0 auto 10px;
        }

        table {
            width: 100%;
            border: 1px solid #EBEBEB;
            margin: 0 auto 10px;

            thead {
                tr {
                    th {
                        background: #F4F4F4;
                        font-weight: 700;
                        text-align: center;
                        padding: 10px;
                        border-bottom: 1px solid #EBEBEB;
                        border-right: 1px solid #EBEBEB;

                        &:first-of-type {
                            width: 37.5%;
                        }
                    }
                }
            }

            tbody {
                tr {
                    th {
                        border-right: 1px solid #EBEBEB;
                        border-bottom: 1px solid #EBEBEB;
                        padding: 10px 12px;
                        font-weight: 700;
                        width: 37.5%;
                    }

                    td {
                        padding: 10px 12px;
                        border-bottom: 1px solid #EBEBEB;
                    }
                }
            }
        }

        ul {
            list-style-type: disc;
            padding: 0 0 0 20px;

            li {
                margin: 0 0 3px;
            }
        }

        ol {
            counter-reset: li;

            li {
                margin: 0 0 6px;
                text-indent: -0.8rem;
                padding: 0 0 0 0.8rem;

                &::before {
                    content: counter(li)". ";
                    counter-increment: li;
                    font-weight: 700;
                }
                
                ul {
                    margin: 10px 0;

                    li {
                        text-indent: 0;
                        padding: 0;

                        &::before {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}
