.main {
  &.blog {
    padding: 90px 0 60px;

    &.customer {
      background: #F4F4E4 url(../images/blog/bg.jpg) no-repeat;
      background-size: contain;
    }

    @include mq() {
      padding: 74px 0 60px
    }
  }
}

.p-blog {
  &--banner {
    padding-bottom: vw(120);

    @include mq(sm2) {
      max-width: 70%;
      margin: 0 auto;
      padding-bottom: 50px;
    }

    &-logo {
      text-align: center;
    }

    &.doctor {
    	display: flex;
    	align-items: center; 
    	justify-content: center;
    	padding: 0;
    	height: vw(220);
    	min-height: 220px;
    	background: url(../images/blog/banner-doctor.png) no-repeat;
    	background-size: cover;
    	.p-blog--banner-logo {
    		max-width: 90%;
    	}
    	@include mq(sm2) {
    		max-width: 100%;
    		padding: 0;
    	}
    }
  }

  &--cntWrap {
    position: relative;
    width: 1280px;
    max-width: 100%;
    background-color: #fff;
    padding: 20px 50px 40px;
    margin: 0 auto;

    @include mq(sm2) {
      padding: 30px 20px;
    }

  }

  &--cnt {
    padding: 50px 0 20px;
    display: flex;

    @media screen and (max-width: 992px) {
      display: block;
    }

    @include mq() {
      padding: 30px 0 20px;
    }
  }

  &--sidebar {
    padding-left: 65px;

    @media screen and (max-width: 992px) {
      padding-left: 0;
      margin-top: 70px;
    }
  }

  &--contact {
    padding: 25px 0;
    background-color: #EBEBEB;
    text-align: center;
    &.type2 {
    	a {
    		background-image: url(../images/blog/icon-mail2.svg)
    	}
    }
    a {
      display: inline-block;
      padding-left: 28px;
      font-size: fs(14);
      letter-spacing: 1px;
      line-height: fs(25);
      color: #474F5F;
      font-family: $font-a;
      background: url(../images/blog/icon-mail.svg) left center / 19px 14px no-repeat;
    }
  }

  &--magic {
    position: absolute;
    transform: translateY(-100%);
    top: 15px;

    &.magic01 {
      width: vw(355);
      left: vw(120);
    }

    &.magic02 {
      width: vw(192);
      right: vw(270);
    }

    &.magic03 {
      width: vw(80);
      right: vw(130);
    }

    &.magic04 {
      width: vw(80);
      right: vw(10);
    }
  }

  &--navCtrl {
    position: fixed;
    top: 20px;
    right: 25px;
    width: 20px;
    height: 27px;
    transition: all .3s;
    z-index: 9995;
    cursor: pointer;

    // display: none;
    @include mq() {
      top: 30px;
    }

    @include mq(sm2) {
      top: 26px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 20px;
      background: #474F5F;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 6px;
      }

      &:nth-child(3) {
        top: 12px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }

        &:nth-child(3) {
          top: 6px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &--ttl {
    margin-bottom: 45px;
    font-size: fs(26);
    font-weight: bold;
    color: #5DC1CF;
    &.type2 {
    	color: #3F7DD1;
    }

    @include mq() {
      font-size: fs(24);
    }
  }

  &--balloon {
    &--item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        flex-flow: row-reverse;

        .p-blog--balloon--item-cnt {
          &:before {
            position: absolute;
            left: auto;
            right: -12px;
            top: 20px;
            display: block;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #F1F3F5;
            border-right: none;
            content: "";
          }
        }
      }

      &-thumbWrap {
        width: 80px;
      }

      &-thumb {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
      }

      &-name {
        margin-top: 10px;
        color: #7B7B7B;
        font-size: fs(10) !important;
        letter-spacing: .25px;
        line-height: fs(10) !important;
        font-weight: bold;
        text-align: center;
      }

      &-cnt {
        position: relative;
        width: calc(100% - 100px);
        position: relative;
        padding: 25px 30px;
        background-color: #F1F3F5;
        border-radius: 5px;
        font-size: fs(14);

        &:before {
          position: absolute;
          left: -12px;
          top: 20px;
          display: block;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 15px solid #F1F3F5;
          content: "";
        }
      }
    }
  }

  &--qa {
    &--item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
      &-thumb {
        width: 70px;
      }

      &-name {
        margin-top: 10px;
        color: #7B7B7B;
        font-size: fs(10) !important;
        letter-spacing: .25px;
        line-height: fs(10) !important;
        font-weight: bold;
        text-align: center;
      }

      &-cnt {
        position: relative;
        width: calc(100% - 80px);
        position: relative;
        border-radius: 5px;
        font-size: fs(14);
      }
    }
  }

  .heading1 {
    font-size: fs(26);
    letter-spacing: 1.3px;
    color: #000000;
    font-weight: bold;
    line-height: 1.4;
  }

  .heading2 {
  	margin-bottom: 20px;
    font-size: fs(22);
    letter-spacing: 1.1px;
    color: #000000;
    font-weight: bold;
    line-height: 1.4;
  }

  .heading3 {
  	margin-bottom: 20px;
    font-size: fs(18);
    letter-spacing: .9px;
    color: #000000;
    font-weight: bold;
    line-height: 1.4;
  }

  .featured {
    margin: 30px 0;
    border-radius: 10px;
    overflow: hidden;
  }

  .fw-normal {
  	font-weight: normal !important;
  }

  .post-title-alt {
    font-size: fs(18);
    line-height: 1.8;
    font-weight: bold;
    color: #474F5F;
    &.type2 {
    	font-size: fs(17);
    	font-weight: normal;
    	color: #000;
    }
  }

  .post-item {
    margin-bottom: 50px;
  }

  .meta-title {}

  .meta-above {
    margin: 20px 0 15px;
    text-align: center;
  }

  .meta-below {
    margin: 20px 0 10px;
    text-align: center;
  }

  .post-thumb {
    height: 247px;

    @include mq(sm2) {
      height: 60vw;
    }
    &.type2 {
    	height: 166px;
    	@include mq(sm2) {
	      height: 60vw;
	    }
    }
  }

  .post-date,
  .post-cmt {
    color: #818181;
    font-size: fs(12);
    font-family: $font-c;

    &.type2 {
      font-size: fs(11);
    }
  }

  .post-cmt {
    margin-left: 10px;
  }

  .post-footer {
    padding-top: 15px;
    border-top: solid 1px #EBEBEB;
    &.type2 {
    	margin-top: 15px;
    	padding: 10px 0;
    	border-top: solid 1px #EBEBEB;
    	border-bottom: solid 1px #EBEBEB;
    }
  }

  .social-share {
    display: flex;
    justify-content: center;
    margin: 0 -15px;

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        display: flex;
        align-item: center;
        height: 12px;
      }
    }
  }

  .post-shareWrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .post-share {
    display: flex;
    justify-content: center;
    &.type2 {
    	li {
    		a {
    			background: none;
    		}
    	}
    }

    li {
      display: inline-block;
      margin: 0 3px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #EBEBEB;

        img {
          display: inline-block;
          height: 12px;
          width: auto;
        }
      }
    }
  }

  .post-categoriesWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .post-categories {
    display: flex;
    margin-right: 30px;
  }

  .post-content {
    padding-left: 20px;

    @include mq(sm2) {
      padding-left: 0;
    }

    p {
      margin-bottom: 26px;
      font-size: fs(14);
      color: #474F5F;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.2em;
      margin-bottom: 1em;
      font-weight: 600;
      line-height: 1.5;
      -webkit-font-smoothing: initial;
    }

    h1 {
      font-size: fs(26);
      letter-spacing: 1.3px;
      color: #474F5F;
    }

    h2 {
      font-size: fs(22);
      letter-spacing: 1.1px;
      color: #474F5F;
    }

    h3 {
      font-size: fs(16);
      color: #474F5F;
    }
  }
  .post-related {
  	&--thumb {
  		height: 247px;
  		@include mq(sm2) {
	      // height: 200px;
	    }
  	}
  	&--item {
  		@include mq(sm2) {
	      margin-bottom: 30px;
	    }
  	}
  	&--inner {
  		display: block;
  	}
  	&--cnt {

  	}
  }

  .has-background {
    padding: 2.25em 2.375em;
  }

  .has-border {
    padding: 2em 2.375em;
    border: solid 8px #F1F3F5;
  }

  .has-quote {
    position: relative;
    padding: 5px 2.375em;
    font-size: fs(14);
    color: #818181 !important;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 21px;
      height: 18px;
      background: url(../images/blog/icon-quote-left.svg) no-repeat;
      content: "";
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      width: 21px;
      height: 18px;
      background: url(../images/blog/icon-quote-right.svg) no-repeat;
      content: "";
    }
  }

  .has-arrow {
  	&Wrap {
  		position: relative;
  		padding: 1.5em 2.5em 2em 2em;
  		background-color: #EBEBEB;
  		&.type2 {
  			&:after {
  				background: url(../images/blog/icon-arrow-right2.png) no-repeat;
  			}
  		}
  		&:after {
  			position: absolute;
  			right: 25px;
  			bottom: 30px;
  			display: inline-block;
  			width: 12px;
  			height: 15px;
  			background: url(../images/blog/icon-arrow-right.png) no-repeat;
  			background-size: contain;
  			content: "";
  		}
  	}
  }

  .search-form {
    position: relative;
  }

  .search-submit {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 42px;
    height: 42px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #68A0FA url(../images/blog/icon-search-white.svg) center center / 15px 15px no-repeat;
    border: none;
    border-radius: 2px;
    &.type2 {
    	background-color: #3F7DD1;
    }
  }

  .search-field {
    width: 100%;
    border: solid 1px #EBEBEB;
    border-radius: 5px;
    height: 50px;
    padding: 0 50px 0 15px;
    font-size: fs(16);
    color: #818181;
    box-sizing: border-box;
  }

  .widget-title {
    font-weight: 400;
    font-size: fs(20);
    margin: 40px 0 20px;
    color: #5DC1CF;
    font-family: $font-a;
    letter-spacing: 1px;

    @include mq(sm2) {
      margin: 60px 0 20px;
    }
    &.type2 {
	    color: #fff;
	    padding: 10px;
	    background-color: #3F7DD1;
    }
  }

  .wpp-card {
    margin-bottom: 20px;

    &-inner {
      display: flex;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wpp-thumb {
    width: 124px;
    max-width: 40%;
    height: 86px;
    flex-shrink: 0;
    margin-right: 20px;
    box-sizing: border-box;
  }

  .wpp-post-title {
    font-size: fs(14);
    font-weight: bold;
    color: #474F5F;
    &.type2 {
    	font-weight: normal;
    	color: #000;
    }
  }

  .cat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: solid 1px #DDDDDD;

    &--ttl {
      display: block;
      padding-left: 24px;
      font-size: fs(13);
      font-weight: bold;
      letter-spacing: .33px;
      background: url(../images/blog/icon-foot.svg) left top 2px no-repeat;
      &.type2 {
      	position: relative;
      	background: none;
      	padding-left: 12px;
      	color: #000000;
      	font-weight: normal;
      	&:before {
      		position: absolute;
      		left: 0;
      		top: 7px;
      		display: inline-block;
      		width: 5px;
      		height: 5px;
      		border-radius: 50%;
      		border: solid 1px #3F7DD1;
      		content: "";
      	}
      }
    }

    &--count {
      display: block;
      width: 25px;
      font-size: fs(12);
      color: #CCCCCC;
      font-family: $font-c;
    }
  }

  #toc_container {
    width: 100%;
    border: 1px solid #aaa;
    border-left: none;
    border-right: none;
    border-color: #EAE9E6;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 60px;
  }

  #toc_container p.toc_title {
    font-weight: bold;
    text-align: left;
    padding-left: 22px;
    background: url(../images/blog/icon-list-gray.svg) left center / 15px 12px no-repeat;
  }

  #toc_container a span {
    display: none;
  }


  #toc_container p.toc_title+ul.toc_list {
    margin-top: 30px;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        padding-left: 22px;
        font-size: fs(15);
        line-height: fs(32);
        letter-spacing: .38px;
        font-weight: bold;
        color: #000;
        background: url(../images/blog/icon-tick.svg) left center / 12px 9px no-repeat;
      }

      ul {
        margin-top: 6px;
        padding-left: 22px;

        li {
          margin-bottom: 3px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            position: relative;
            padding-left: 12px;
            color: #7B7B7B;
            font-size: fs(12);
            background: none;
            font-weight: normal;

            &:before {
              position: absolute;
              top: 14px;
              left: 0;
              display: block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #3CAAE0;
              content: "";
            }
          }
        }
      }
    }
  }

}