.p-consultation {
  .p-edit--dateWrap {
    justify-content: space-between;
  }

  &--cnt {
    padding: 40px 0;
    border-top: solid 1px #EBEBEB;
    border-bottom: solid 1px #EBEBEB;
    @include mq(sm2) {
    	border-top: 0;
    	padding: 10px 0 30px;
    }
  }

  &--quest {
    width: calc(100% - 60px);
    margin-bottom: 40px;
    margin-left: auto;
    background: url(../images/common/icon-question-blue.svg) no-repeat;
    background-position: right center;
    background-size: 44px 44px;
    @include mq(sm2) {
    	width: calc(100% - 20px);
    	background-size: 30px 30px;
    	background-position: right 18px top;
    }
    &-box {
      position: relative;
      margin-right: 65px;
      border: 1px solid #EBEBEB;
      border-radius: 5px;
      padding: 12px 15px;
      @include mq(sm2) {
      	margin-right: 60px;
      }

      &:after,
      &:before {
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        @include mq(sm2) {
        	top: 12px;
        	transform: translateY(0);
	        -webkit-transform: translateY(0);
        }
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #fff;
        border-width: 6px;
        border-width: 6px;
      }

      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #EBEBEB;
        border-width: 7px;
      }
    }
  }

  &--ans {
  	width: calc(100% - 60px);
    margin-bottom: 40px;
    margin-right: auto;
    background: url(../images/common/icon-ans-green.svg) no-repeat;
    background-position: left center;
    background-size: 44px 44px;
    @include mq(sm2) {
    	width: calc(100% - 20px);
    	margin-bottom: 30px;
    	background-size: 30px 30px;
    	background-position: left 18px top;
    }
  	&-ttl {
  		margin-bottom: 25px;
  		@include mq(sm2) {
  			padding: 0 20px;
  		}
  	}
  	&-box {
  		position: relative;
      margin-left: 65px;
      color: #fff;
      background-color: #5DC1CF;
      border-radius: 5px;
      padding: 12px 15px;
      &:after,
      &:before {
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        @include mq(sm2) {
        	top: 18px;
        }
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #5DC1CF;
        border-width: 6px;
        border-width: 6px;
      }

      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #5DC1CF;
        border-width: 6px;
      }
  	}
  }

  &--direct {
    margin-top: 35px;
    text-align: center;
    cursor: pointer;
  }
}