.p-edit {
	padding: 20px 30px 40px;
	background-color: #fff;
	@include mq(sm2) {
		padding: 20px 0 40px;
	}
	&--dateWrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;
		@include mq(sm2) {
			padding: 0 20px;
			margin-bottom: 15px;
		}
		.label-gray {
			margin-right: 8px;
		}
	}
	.form {
		border-top: solid 1px #EBEBEB;
		&.border-top-none {
			border-top: none;
		}
		&.border-bottom {
			border-bottom: solid 1px #EBEBEB;
		}
		&-row {
			display: flex;
			align-items: center;
			padding: 20px 15px;
			border-bottom: solid 1px #EBEBEB;
			&.border-bottom-none {
				padding-bottom: 0;
				border-bottom: none;
			}
			&.border-top {
				border-top: solid 1px #EBEBEB;
			}
			&.d-block {
				display: block;
			}
			&.type2 {
				@include mq(sm2) {
					display: block;
					.form-label {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
			&Wrap2 {
				margin: 20px 0;
				background-color: #F4F4F4;
			}
			&--cnt {
				width: 100%;
				.label-box {
					@include mq(sm2) {
						flex-wrap: wrap;
						flex-flow: column;
						.link-blue {
							display: block;
						}
					}
				}
			}
			&--upload {
				display: flex;
				align-items: center;
				&-thumb {
					width: 120px;
					height: 90px;
					margin-right: 20px;
					overflow: hidden;
					img {
						width: 100%;	
					}
				}
			}
		}
		&-label {
			width: 100px;
			margin-right: 30px;
			flex-shrink: 0;
			margin-bottom: 0;
			&.type2 {
				width: 100px;
			}
			@include mq(sm2) {
				width: 60px;
				margin-right: 15px;
			}
		}
	}	
}