.p-faq {
	.tabs-cnt  {
		@include mq(sm2) {
			padding: 0;
		}
	}
	&--cnt {
		padding-bottom: 40px;
		&-head {
			padding: 30px 20px;
			text-align: right;
			border-bottom: solid 1px #EBEBEB;
			@include mq(sm2) {
				padding: 20px;
			}
		}
	}
	&--list {
		// padding-bottom: 
		margin-bottom: 35px;
	}
	&--item {
		padding: 20px;
		border-bottom: solid 1px #EBEBEB;
		&-inner {
			padding-left: 64px;
			background: url(../images/common/icon-question.svg) no-repeat;
			background-size: 44px 44px;
			background-position: top 15px left;
			@include mq(sm2) {
				display: flex;
				flex-flow: column-reverse;
				padding-left: 40px;
				background-size: 30px 30px;
				background-position: top 14px left;
			}
		}
		&-tag {
			@include mq(sm2) {
				margin-top: 8px;
				.tag2 {
					display: block;
					margin-bottom: 12px;
				}
			}
		}
		&-cnt {
			margin-top: 10px;
			.link-blue {
				font-size: inherit;
			}
		}
		&.type2 {
			display: flex;
			align-items: center;
		}
		&-cbox {
			width: 42px;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.p-prefaq {
	@include mq() {
		padding: 30px 20px 50px;
	}

	&__set {
		color: #474F5F;

		dt {
			transition: all .3s;
			position: relative;
			font-size: fs(14);
			font-weight: 700;
			border: 2px solid #5DC1CF;
			border-radius: 3px;
			padding: 20px 30px 20px 60px;
			cursor: pointer;
			margin: 0 0 20px;
			text-indent: -1.8rem;

			@include mq() {
				padding: 20px 40px 20px 50px;
			}

			span {
				font-family: $font-a;
				font-size: fs(20);
				font-weight: 700;
				color: #5DC1CF;
				padding: 0 5px 0 0;
			}

			&::after {
				transition: transform .3s;
				content: '';
				position: absolute;
				top: 50%;
				right: 27px;
				width: 8px;
				height: 8px;
				border-bottom: 2px solid #5DC1CF;
				border-right: 2px solid #5DC1CF;
				transform: translateY(-55%) rotate(45deg);

				@include mq() {
					right: 24px;
				}
			}

			&.active {
				background: #5DC1CF;
				color: #fff;

				span {
					color: #fff;
				}

				&::after {
					border-bottom: 2px solid #fff;
					border-right: 2px solid #fff;
					transform: translateY(-55%) rotate(-135deg);
				}
			}
		}

		dd {
			position: relative;
			font-size: fs(14);
			padding: 5px 20px 45px 94px;
			text-indent: -1.6rem;
			display: none;

			@include mq() {
				padding: 5px 20px 45px 75px;
			}

			span {
				font-family: $font-a;
				font-size: fs(20);
				font-weight: 700;
				color: #5DC1CF;
				padding: 0 5px 0 0;
			}
		}
	}

	.btn-blueWrap {
		text-align: center;
		margin: 40px auto 0;
	}
}

.main {
	&.prefaq {
		padding: 90px 0 60px;
		background: url(../images/mypage/bg.png) repeat;
		background-size: 100% auto;
		
		@include mq() {
			padding: 74px 0 60px
		}
	}
}