.p-favorite {
	@include mq(sm2) {
		margin: 0 -20px;
	}
	.tabs {

	}
	&--item {
		margin-bottom: 30px;
		padding: 0 5px;
		a {
			display: block;
		}
		.thumb {

		}
		.ttl-blue {
			margin: 15px 0 5px;
		}
		.ttl-location {
			margin-bottom: 14px;
		}
		&-direct {
			display: flex;
			align-items: center;
			.checkbox2 {
				display: inline-block;
			}
			.btn-blue3 {
				margin-right: 10px;
			}
		}
		&-inner {
			&-cnt {

			}
		}
	}
	&--ctrl {
		display: flex;
		align-items: center;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 86px;
		padding: 0 18.7% 0 34.5%;
		background: rgba(0,0,0,0.85);
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
		transition: all .25s;
		&.active {
			transform: translateY(0);
			-webkit-transform: translateY(0);
		}
		@include mq() {
			padding: 0 18.7%;
			justify-content: center;
		}
		@include mq(sm2) {
			padding: 0 12px;
		}
		&-inner {
			display: flex;
			align-items: center;
			@include mq(sm2) {
				justify-content: space-between;
			}
			.btn-blue {
				width: 500px;
				// max-width: 60%;
				font-size: fs(14);
				margin-right: 12%;
		    padding: 13px 9px;
				text-align: center;
				@include mq(sm2) {
					width: 278px;
					max-width: 74%;
					margin-right: 0;
				}
			}
			.link-reset {
				width: 60px;
				flex-shrink: 0;
				display: inline-block;
				font-size: fs(14);
				color: #fff;
				text-align: center;
				@include mq(sm2) {
					width: auto;
				}
			}
		}
	}
	&--guide {
		padding-bottom: 30px;
		background-color: #fff;
		text-align: right;
	}
	&--noresult {
		padding: 30px 0 60px;
		text-align: center;
		.ttl-bold3 {
			margin-bottom: 25px;
		}
		.desc6 {
			margin-bottom: 35px;
		}
		.btn-blueWrap {
			margin-bottom: 20px;
		}
		.btn-blue {
			width: 280px;
			height: 52px;
			line-height: 52px;
			padding: 0;
		}
	}
}