.form-row--ttl2 {
	color: #474F5F;
	font-size: fs(16);
	font-weight: bold;
	padding: 0 15px 15px;
	&.border-bot {
		border-bottom: solid 1px #EBEBEB;
	}
	&.type2 {
		margin-top: 40px;
		margin-bottom: 15px;
		padding-bottom: 0;
	}
}

.form-row--ttl3 {
	color: #474F5F;
	font-size: fs(12);
	font-weight: bold;
	padding: 0 15px;
}

.list-cbox {
	display: flex;
	flex-wrap: wrap;
	margin: -10px -5px;
	width: 60%;
	@include mq(sm2) {
		width: 100%;
	}
	&.type2 {
		width: 50%;
		flex-flow: column;
		margin: 0 auto;
		@include mq(sm2) {
			width: 70%;
		}
	}
	&.type3 {
		width: 100%;
		justify-content: space-between;
		@include mq(sm2) {
			flex-wrap: wrap;
		}
	}
	&.type4 {
		width: 100%;
		justify-content: space-between;
		@include mq(sm2) {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}
	.checkboxWrap {
		padding: 10px 5px;
		.checkbox3 + label {
			padding-left: 30px;
		}
		&.type2 {
			width: 48%;
			@include mq(sm2) {
				width: 100%;
			}
		}
	}
}

.list-cbox2 {
	display: flex;
	flex-wrap: wrap;
	margin: -10px -5px;
	@include mq(sm2) {
		width: 100%;
	}
	.checkboxWrap {
		width: 25%;
		padding: 10px 5px;
		@include mq(sm2) {
			width: 50%;
		}
		.checkbox3 + label {
			padding-left: 30px;
		}
	}
}

.mail-ctrl {
	display: flex;
	justify-content: space-between;
	width: 280px;
	max-width: 100%;
	margin: 20px auto 30px;
	font-size: fs(14);
	.link {
		display: inline-block;
		color: #68A0FA;
	}
	&--prev {
		padding-left: 16px;
		background: url(../images/common/icon-arrow-left-blue2.svg) left center no-repeat;
	}
	&--next {
		padding-right: 16px;
		background: url(../images/common/icon-arrow-right-blue2.svg) right center no-repeat;
	}
}

.p-history {
	position: relative;
	&--signup {
		width: 126px;
		position: absolute;
		top: -75px;
		right: 0;
		text-align: center;
		padding: 3px ​9px;
		font-size: fs(14);
		@include mq() {
			display: block;
			position: static;
			width: 92px;
			margin-left: auto;
			margin-right: 0;
			margin-bottom: 20px;
			font-size: fs(12);
		}
		@include mq(sm2) {
			margin-right: 20px;
		}
	}
	.form-row {
		@include mq(sm2) {
			display: block;
			.form-label {
				margin-bottom: 15px;
			}
			&.type3 {
				display: flex;
				.form-label {
					margin-bottom: 0;
				}
			}
		}
	}
	.form-groupField {
		align-items: center;
		._2dots {
			display: inline-block;
			margin: 0 3px;
		}
		&Wrap {
			display: flex;
			align-items: center;
			&.type2 {
				@include mq(sm2) {
					display: block;
					.form-groupFieldWrap--connect {
						margin: 5px 0;
						padding-left: 110px;
						&.type2 {
							padding-left: 60px;
						}
					}
				}
			}
			&.type3 {
				margin: 0 auto;
				justify-content: center;
				@include mq(sm2) {
					justify-content: flex-start;
				}
			}
			&.type4 {
				margin: 0 auto;
				justify-content: center;
				@include mq(sm2) {
					display: flex;
					flex-flow: column;
					flex-wrap: wrap;
				}
			}
			&--connect {
				margin: 0 8px;
			}
		}
		.select {
			padding-right: 32px;
		}
	}
}

