.text-editor {
	height: 440px;
	@include mq(sm2) {
		height: 600px;
	}
}
.tox-tinymce {
	border-color: #C7C7C7;
	border-radius: 5px !important;
}

.p-hospitalReview {
	&--heading3 {
		margin-right: 20px;
		font-size: fs(16);
		font-weight: bold;
		color: #474F5F;
		&Wrap {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			padding-top: 20px;
			border-top: solid 1px #EBEBEB;
			@include mq(sm2) {
				padding: 0 15px;
			}
			._count {
				font-size: fs(14);
				color: #818181;
				font-family: $font-c;
				padding-left: 21px;
				background: url(../images/common/icon-msg.svg) top 2px left no-repeat;
			}
		}
	}
	&--head {
		margin-bottom: 30px;
		padding-top: 20px;
		@include mq(sm2) {
			padding: 20px 15px 0;
			margin-bottom: 40px;
		}
		&-info {
			display: flex;
			align-items: center;
			@include mq(sm2) {
				justify-content: space-between;
			}
		}
		&-rating {
			display: flex;
			align-items: center;
			margin-top: 20px;
			margin-bottom: 20px;
			&-stars {
				span {
					display: inline-block;
				}
			}
			&-points {
				padding-top: 3px;
				margin-left: 10px;
				font-size: fs(16);
				font-family: $font-b;
				font-weight: 300;
				color: #818181;
			}
		}
		&-count {
			padding-top: 5px;
			margin-left: 15px;
			font-size: fs(14);
			color: #818181;
		}
		&-chart {
			&-row {
				display: flex;
				align-items: center;
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
				&-label {
					display: inline-block;
					margin-right: 20px;
					font-size: fs(14);
					color: #818181;
				}
				&-bar {
					width: 180px;
					height: 15px;
					span {
						display: block;
						height: 100%;
						background-color: #5DC1CF;
					}
				}
			}
		}
	}
	&--list {

	}
	&--item {
		&-head {
			display: flex;
			justify-content: space-between;
			padding: 15px;
			background-color: #FAFAFA;
			&-rating {
				display: flex;
				align-items: center;
				&-stars {
					display: flex;
					align-items: center;
					margin-right: 3px;
					span {
						display: flex;
						align-items: center;
						margin-right: 3px;
					}
				}
			}
		}
		&-cnt {
			padding: 15px;
		}
		&-desc {
			margin-bottom: 20px;
			font-size: fs(12);
			color: #474f5f;
		}
		&-dateWrap {
			display: flex;
			@include mq(sm2) {
				display: block;
			}
			&-child {
				margin-right: 30px;
				@include mq(sm2) {
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				.label-gray {
					margin-right: 3px;
				}
			}
		}
		&-msgBox {
			position: relative;
			margin-top: 10px;
			padding: 20px;
			background-color: #FAFAFA;
			&-edit {
				position: absolute;
				right: 20px;
				top: 18px;
			}
			.ttl-bold5 {
				margin-bottom: 10px;
			}
			.form-ctrl--item.btn-submitWrap {
				@include mq(sm2) {
					width: 280px;
					margin: 0 auto;
					max-width: 100%;
				}
			}
		}
	}
}

.p-hospitalList {
	&--ttl {
		text-align: center;
		@include mq(sm2) {
			text-align: left;
		}
	}
	.list-cbox {
		width: 100%;
		margin-bottom: 40px;
		.checkboxWrap {
			width: 25%;
			@include mq(sm2) {
				width: 33.33%;
			}
		}
	}
	.p-reservation--item-cnt {
		@include mq(sm2) {
			&.not-table {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

.p-hospital {
	&--subttl {
		@include mq(sm2) {
			padding: 0 15px;
		}
	}
}