.p-login {
	@include mq() {
		padding: 0 10px;
	}
	@include mq(sm2) {
		padding: 0;
	}
	.ttl-bold6 {
		margin-bottom: 30px;
		@include mq(sm2) {
			margin-bottom: 20px;
		}
	}
	.form-input {
		margin-bottom: 10px;
	}
	&--col {
		padding: 0 10px;
		@include mq(sm2) {
			margin-bottom: 10px;
		}
		&-inner {
			height: 100%;
			padding: 40px 70px 50px;
			background-color: #fff;
			border-radius: 5px;
			@include mq() {
				padding: 40px 40px 50px;
			}
			@include mq(sm2) {
				padding: 40px 20px 50px;
			}
			* {
				&:not(.ttl-bold6) {
					font-size: 14px;
				}
			}
		}
	}
	&--cbox {
		display: flex;
		margin-bottom: 20px;
		&-label {
			margin-left: 5px;
			cursor: pointer;
		}
	}
	&--submit {
		margin-bottom: 30px;
	}
	&--intro {
		margin-bottom: 20px;
	}
	&--guide {
		text-align: center;
	}
}



