.p-message {
  padding: 35px 30px;
  background-color: #fff;
  @include mq(sm2) {
    padding: 20px;
    margin: 0 -20px;
    &.type2 {
      margin: 0;
    }
  }
  &--list {
    font-size: fs(12);
    border-top: solid 1px #EBEBEB;
    li {
      display: flex;
      padding: 12px 0;
      border-bottom: solid 1px #EBEBEB;
      @include mq(sm2) {
        display: block;
      }
      .date4 {
        margin-right: 20px;
        @include mq(sm2) {
          margin-right: 0;
        }
        &Wrap {
          display: flex;
          margin-right: 15px;
          color: #818181;
          @include mq(sm2) {
            margin-right: 0;
            margin-bottom: 5px;
          }
          ._name {
            width: 140px;
            @include mq(sm2) {
              width: auto;
            }
          }
          .date4 {
            margin-right: 10px;
            color: #818181;
          }
        }
      }
    }
    &-link {
      color: #818181;
      transition: all .25s;
      &.blue {
        color: #68A0FA;
      }
      &.type2 {
        color: #474F5F;
      }
      &:hover {
        color: #68A0FA;
      }
    }
  }
}

.p-messageDetail {
  background: #fff;
  @include mq(sm2) {
    margin: 0 -20px;
  }
  &--head {
    padding: 30px 30px 20px;
    border-bottom: solid 1px #EBEBEB;
    @include mq(sm2) {
      padding: 30px 20px 20px;
    }
    .ttl-bold3 {
      margin-bottom: 10px;
    }
  }
  &--cnt {
    width: 480px;
    max-width: 100%;
    padding: 0 30px;
    @include mq(sm2) {
      padding: 0 20px;
    }
    &-row {
      color: #474F5F;
      font-size: fs(12);
      padding: 30px 0;
      border-bottom: solid 1px #EBEBEB;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--foot {
    padding: 40px 0;
    border-top: solid 1px #EBEBEB;
    @include mq(sm2) {
      padding: 30px 0;
    }
  }
}