.main {
	&.mypage {
		padding: 90px 0 60px;
		background: url(../images/mypage/bg.png) no-repeat;
		background-size: cover;
		@include mq() {
			padding: 74px 0 60px
		}
	}
}

.p-mypage {
	margin-top: 60px;
	@include mq() {
    margin-top: 0;
  }
  &--navCtrl {
  	display: none;
  	@include mq() {
  		position: absolute;
  		right: 4px;
  		top: -5px;
  		display: block;
	    width: 84px;
	    height: 32px;
	    line-height: 32px;
	    font-size: 12px;
	    font-weight: bold;
	    color: #fff;
	    border-radius: 5px;
	    background: #818181;
	    text-align: center;
	    cursor: pointer;
	    span {
	    	display: inline-block;
	    	padding-left: 15px;
		    background: url(../images/common/icon-hamburger.svg) left center no-repeat;
	    }
	  }
  }
  &--ttlWrap {
  	position: relative;
		margin: 40px 0;
		&.type2 {
			display: flex;
			justify-content: space-between;
			@include mq() {
				display: block;
				.btn-blue3 {
					margin-top: 25px;
				}
			}
			@include mq(sm2) {
				.btn-blue3 {
					width: 100%;
					margin-top: 20px;
			    padding: 15px 9px;
				}
			}
		}
		@include mq() {
			margin: 25px 20px;
	  }
  }
	&--ttl {
		color: #5DC1CF;
		font-weight: bold;
		font-size: fs(24);
		@include mq() {
			font-size: fs(20);
	  }
	}
	&--inner {
		display: flex;
		@include mq() {
			padding: 0 20px;
	  }
	  &.type2 {
	  	@include mq(sm2) {
				padding: 0;
		  }
	  }
	}
	&--sidebar {
		width: 230px;
		margin-right: 40px;
		flex-shrink: 0;
		@include mq() {
			width: 0;
			margin-right: 0;
		}
	}
	&--gift {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 20px;
		font-size: fs(12);
		background-color: #5DC1CF;
		color: #fff;
		@include mq() {
	    display: block;
	    padding: 0 20px;
	  }
		&-left {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mq() {
		    display: block;
		  }
			.borderR {
				position: relative;
				padding: 0 20px;
				@include mq() {
					padding: 0 10px;
				}
				@include mq() {
					padding: 15px 0;
					border-bottom: solid 1px #fff;
					text-align: center;
			  }
				&:first-child {
					padding-left: 0;
				}
				&:after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					right: 0;
					width: 1px;
					height: 42px;
					background-color: #fff;
					display: block;
					content: "";
					@include mq() {
						display: none;
				  }
				}
			}
		}
		&-right {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 510px;
			max-width: 100%;
			padding-left: 20px;
			@include mq() {
				// width: 335px;
				padding-left: 10px;
			}
			@include mq() {
				padding: 12px 0 16px 0;
				font-size: fs(10);
			}
			.btn-yellow3 {
				width: 145px;
				margin-left: 30px;
				@include mq() {
					margin-left: 15px;
				}
				@include mq() {
					width: 127px;
					margin-left: 22px;
				}
			}
		}
		&-name {
			span {
				font-size: fs(10);
			}
		}
		&-points {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mq() {
				padding: 7px 0 !important;
				justify-content: center;
			}
			&-label {
				padding: 5px 0 5px 30px;
				background: url(../images/mypage/icon-points.svg) left center no-repeat;
			}
			&-value {
				margin-left: 10px;
				font-size: fs(30);
				font-weight: bold;
				font-family: $font-c;
				@include mq() {
					font-size: fs(20);
				}
				@include mq() {
					font-size: fs(30);
				}
				span {
					font-size: fs(14);
				}
			}
		}
	}
	&--cnt {
		width: 100%;
		&-features {
			display: flex;
			flex-wrap: wrap;
			&-icon {
				min-height: 34px;
			}
			&-item {
				padding: 0 5px;
				margin-bottom: 10px;
				@include mq() {
					padding: 0 3px;
					margin-bottom: 6px;
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					flex-flow: column;
					height: 100%;
					// padding: 25px 5px;
					padding: 5px;
			    min-height: 115px;
					background-color: #fff;
					box-shadow: 2px 2px 0px #D0E2DB;
					border-radius: 5px;
					transition: all .2s linear;
					&:hover {
						-webkit-transform: scale(1.01);
				    transform: scale(1.01);
				    z-index: 10;
				    box-shadow: 0 8px 10px #D0E2DB;
					}
					&.countWrap {
						position: relative;
						.count {
							position: absolute;
							right: 10px;
							top: 10px;
							z-index: 1;
						}
					}
				}
			}
			&-ttl {
				margin-top: 10px;
				font-size: fs(16);
				color: #5DC1CF;
				font-weight: bold;
			}
			&-label {
				font-size: fs(10);
				font-weight: bold;
				color: #fff;
				background-color: #5DC1CF;
				border-radius: 2px;
				padding: 2px 7px;
				text-align: center;
				margin-bottom: 12px;
			}
		}
	}
}

