// news

// news-detai
.p-news {
	@include mq(sm2) {
		padding: 30px 20px 50px;
	}
	&--dateWrap {
		margin-bottom: 15px;
	}
	&--ttl {
		margin-bottom: 25px;
		font-size: fs(28);
		line-height: fs(42);
		font-weight: bold;
		@include mq(sm2) {
			font-size: fs(22);
			line-height: fs(38);
		}
	}
	&--img {
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	&--direct {
		padding: 45px 0;
		text-align: center;
		border-top: solid 1px #EBEBEB;
		background-color: #fff;
		@include mq(sm2) {
	    padding: 35px 0;
	  }
	}

	&--item {
		padding: 30px 20px;
		display: flex;
		align-items: center;
		border-top: solid 1px #EBEBEB;
		&:last-child {
			border-bottom: solid 1px #EBEBEB;
		}
		@include mq(sm2) {
      display: block;
      padding: 25px 0;
    }
		&-dateWrap {
			min-width: 180px;
			margin-right: 25px;
			display: flex;
			flex-shrink: 0;
			@include mq() {
        width: 280px;
        margin-bottom: 10px;
      }
      @include mq(sm2) {
        width: 100%;
      }
			.date8 {
				display: flex;
				align-items: center;
				width: 70px;
				margin-right: 10px;
			}
			.tag {

			}
		}
		&-ttl {
			display: inline-block;
			font-size: fs(14);
			color: #474F5F;
		}
	}
}