.p-operating {
  padding: 50px;
  background-color: #fff;
  font-size: 0.75rem;

  @include mq() {
    padding: 30px 20px 50px;
  }

  table {
    width: 100%;
    margin: 0 0 50px;

    @include mq() {
      display: block;
      margin: 0 0 20px;
    }

    tbody {
      @include mq() {
        display: block;
      }

      tr {
        @include mq() {
          display: block;
        }

        th {
          font-size: fs(14);
          font-weight: 700;
          padding: 38px 10px 38px 20px;
          border-top: 1px solid #5DC1CF;

          @include mq() {
            display: block;
            padding: 20px 10px 20px 20px;
          }
        }

        td {
          font-size: fs(14);
          border-top: 1px solid #EBEBEB;
          padding: 38px 10px 38px 20px;

          @include mq() {
            display: block;
            padding: 20px 10px 35px 20px;
          }
        }
      }
    }
  }
}