.p-pets {
	&--item {
		width: 100%;
		margin-bottom: 20px;
		padding: 20px;
		background-color: #fff;
		@include mq(sm2) {
			// padding-top: 
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-head {
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;
		}
		&-cntWrap {
			display: flex;
			@include mq(sm2) {
				margin-bottom: 5px;
			}
		}
		&-thumb {
			width: 90px;
			flex-shrink: 0;
		}
		&-cnt {
			margin-left: 20px;
			border-top: solid 1px #F4F4F4;
			display: flex;
			flex-wrap: wrap;
			&.type2 {
				width: 70%;
				justify-content: space-between;
				border-top: none;
				@include mq() {
					width: 100%;
					margin-left: 10px;
				}
				.p-pets--item-row {
					width: 100%;
					padding-top: 0;
					border-bottom: none;
				}
				._item {
					padding-right: 40px;
					@include mq() {
						padding-right: 0;
					}
					&:last-child {
						padding-right: 0;
					}
					@include mq(sm2) {
						margin-right: 0;
					}
				}
			}
			@include mq(sm2) {
				border-top: none;
			}
		}
		&-row {
			display: flex;
			align-items: flex-start;
			width: 50%;
			padding: 10px 0;
			border-bottom: solid 1px #F4F4F4;

			@include mq(sm2) {
				width: 100%;
				border-bottom: 0;
				margin-bottom: 10px;
				padding: 0;
			}
			.label-gray {
				margin-right: 8px;
			}
			.desc4 {
				padding-top: 3px;
			}
		}
	}
}

.p-noResult {
	padding: 30px 0 10px;
	text-align: center;
	.ttl-bold3 {
		margin-bottom: 25px;
	}
	.desc6 {
		margin-bottom: 35px;
	}
	.btn-blueWrap {
		margin-bottom: 20px;
	}
	.btn-blue {
		width: 280px;
		height: 52px;
		line-height: 52px;
		padding: 0;
	}
}