.p-publish {
  color: #474f5f;

  &__sec01 {
    padding: 90px 0 60px;
    background: url(../images/mypage/bg.png) no-repeat;
    background-size: cover;
  }

  &__sec02 {
    background: #f4f4e4;
  }

  &__sec03 {
    background: #effdf8;
    padding: 60px 0;
  }

  .try {
    position: relative;
    background: #e6f0ff;
    text-align: center;
    padding: 53px 30px 60px;

    @include mq() {
      margin: 0 20px;
      padding: 53px 20px 50px;
    }

    h3 {
      position: relative;
      font-weight: 700;
      font-size: fs(30);
      margin: 0 0 20px;

      @include mq() {
        display: inline-block;
        font-size: fs(22);
        margin: 0 0 12px;
      }

      span {
        position: absolute;
        top: -35px;
        left: 24%;

        @include mq() {
          top: -40px;
          left: -48px;
        }
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px;

    @include mq() {
      display: block;
      padding: 40px 0;
    }

    &__title {
      position: relative;
      margin: 0 0 25px;

      h3 {
        position: relative;
        z-index: 1;
        margin: 0 0 0 80px;

        @include mq() {
          margin: 0 0 0 -10px;
        }
      }
      
      span {
        position: absolute;
        top: -5px;
        left: -95px;
        z-index: 0;
      }
    }

    &__content {
      width: 54%;

      @include mq() {
        width: 100%;
        padding: 0 20px;
      }
    }

    &__h {
      font-size: fs(26);
      font-weight: 700;
      line-height: 1.8;
      margin: 0 0 27px 80px;

      @include mq() {
        font-size: fs(18);
        margin: 0 0 27px 0;
      }
  
      span {
        background-image: url(../images/publish/bg-line-01.svg);
        background-repeat: no-repeat;
        background-position: center bottom -5px;
        background-size: 100% auto;
      }
    }

    &__txt {
      line-height: 2;
      font-size: fs(15);
      margin: 0 0 0 80px;

      @include mq() {
        margin: 0;
        letter-spacing: -1px;
      }
    }

    &__img {
      height: auto;
      padding: 60px 30px 0 0;
      width: 43%;

      @include mq() {
        width: 100%;
        height: auto;
        padding: 0 20px;
      }
    }
  }

  .cost {
    @include mq() {
      padding: 0 20px;
    }

    table {
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: fs(20);
      table-layout: fixed;
      margin: 0 0 7px;

      @include mq() {
        font-size: fs(16);
      }

      thead {
        tr {
          th {
            background: #EBEBEB;
            padding: 11px 5px 9px;
            vertical-align: middle;

            br {
              display: none;

              @include mq() {
                display: block;
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 20px 5px 19px;
            color: #5DC1CF;
            background: #fff;
            border-right: 1px solid #EBEBEB;
            border-bottom: 1px solid #EBEBEB;
            vertical-align: middle;
          }

          &:first-of-type {
            td {
              border-left: 1px solid #EBEBEB;
            }
          }
        }
      }
    }

    &__note {
      font-size: fs(12);
      color: #818181;

      @include mq() {
        display: block;
        line-height: 1.5;
        text-indent: -0.8rem;
        padding: 0 0 0 0.8rem;
      }
    }

    &__msg {
      text-align: center;

      p {
        display: inline-block;
        color: #5DC1CF;
        font-weight: 700;
        margin: 25px 0 0;
        font-size: fs(18);
        background-image: url(../images/publish/bg-line-02.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center bottom;

        @include mq() {
          background: none;
        }

        span {
          @include mq() {
            display: inline-block;
            background-image: url(../images/publish/bg-line-05.svg);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center bottom -2px;
          }

          &:nth-of-type(3) {
            @include mq() {
              background-image: url(../images/publish/bg-line-01.svg);
            }
          }
        }
      }
    }
  }

  .point {
    padding: 100px 0 10px;

    @include mq() {
      padding: 70px 0 5px;
    }

    &__title {
      position: relative;
      font-size: fs(32);
      font-weight: 700;
      text-align: center;
      margin: 0 0 70px;

      @include mq() {
        font-size: fs(20);
      }

      h3 {
        position: relative;
        z-index: 1;
      }

      picture {
        position: absolute;
        top: -17px;
        left: 0;
        z-index: 0;
        width: 100%;

        @include mq() {
          width: 80%;
        }
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      margin: 0 0 80px;

      @include mq() {
        display: block;
        padding: 0 20px;
      }

      li {
        position: relative;
        width: 32%;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        padding: 50px 28px;
        box-shadow: 0 0 5px rgba(200, 200, 200, 0.1);

        @include mq() {
          width: 100%;
          margin: 0 0 70px;
        }

        h4 {
          color: #5DC1CF;
          font-weight: 700;
          font-size: fs(24);
          margin: 22px auto 12px;
        }

        p {
          text-align: left;
          font-size: fs(14);
        }

        ul {
          margin: 25px 0 0 15px;
          font-size: fs(16);
          font-weight: 700;
          line-height: 1.6;

          li {
            width: 100%;
            padding: 0;
            text-indent: -17px;
            text-align: left;
            margin: 0 0 8px;
            box-shadow: none;

            &::before {
              content: url(../images/publish/icon-check-green.svg);
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }

    &__heart {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      display: block;
      width: 87px;
      height: 70px;
      background-image: url(../images/publish/illust-heart.png);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $font-a;
      text-align: center;
      font-weight: 700;
      color: #5EC1CF;
      font-size: fs(12);
      padding: 20px 0 0;

      span {
        display: block;
        font-size: fs(18);
      }
    }

    &__step {
      padding: 0 0 30px;

      @include mq() {
        padding: 0 20px 30px;
      }

      li {
        position: relative;
        background: #fff;
        margin: 0 0 40px;
        padding: 25px 30px 25px 85px;
        border-radius: 10px;

        @include mq() {
          padding: 25px 20px 25px 85px;
        }

        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 2px;
          height: 40px;
          background: #5DC1CF;
        }

        span {
          position: absolute;
          top: -22px;
          left: -8px;
        }

        h4 {
          font-weight: 700;
          font-size: fs(16);
          margin: 0 0 8px;
        }

        p {
          font-size: fs(16);
        }

        &:last-of-type {
          &::after {
            content: none;
          }
        }
      }
    }
  }

  .info {
    background: #fff;
    padding: 30px;
    display: flex;
    text-align: center;

    @include mq() {
      display: block;
      padding: 30px 20px;
      margin: 0 20px;
    }

    &__mail {
      width: 50%;
      border-right: 1px solid #E6F0FF;

      @include mq() {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #E6F0FF;
        padding: 0 0 30px;
      }

      h4 {
        font-size: fs(22);
        font-weight: 700;
        margin: 0 0 10px;

        @include mq() {
          font-size: fs(18);
        }
      }

      a {
        transition: all .3s;
        display: inline-block;
        color: #68A0FA;
        font-size: fs(14);
        width: 280px;
        max-width: 100%;
        border-radius: 6px;
        border: 1px solid #68A0FA;
        padding: 14px 10px;

        &:hover {
          color: #fff;
          background: #68A0FA;
        }
      }
    }

    &__tel {
      width: 50%;

      @include mq() {
        width: 100%;
        padding: 30px 0 0;
      }

      h4 {
        font-size: fs(22);
        font-weight: 700;
        margin: 0 0 5px;

        @include mq() {
          font-size: fs(18);
        }
      }

      a {
        font-family: $font-a;
        font-size: fs(32);
        font-weight: 700;

        img {
          max-width: 272px;

          @include mq() {
            min-width: 100%;
          }
        }
      }
      
      p {
        margin: 3px 0 0;

        @include mq() {
          font-size: fs(12);
        }
      }
    }
  }

  .wish {
    padding: 70px 0;
    text-align: center;

    &__title {
      position: relative;
      margin: 0 0 50px;
      text-align: center;

      h3 {
        position: relative;
        z-index: 1;

        @include mq() {
          max-width: 90%;
          margin: 0 auto;
        }
      }
      
      span {
        position: absolute;
        top: 35px;
        left: 50%;
        z-index: 0;
        transform: translate3d(-60%, 0, 0);
        width: 600px;
        display: block;

        @include mq() {
          width: 85%;
          left: 0;
          transform: none;
        }

        img {
          width: 100%;
        }
      }

      p {
        margin: 10px 0 0;
        font-size: fs(18);
        font-weight: 700;
      }
    }

    &__txt1 {
      text-align: center;
      margin: 0 0 45px;
      line-height: 2;
      font-size: fs(15);
      padding: 0 20px;
    }

    &__txt2 {
      text-align: center;
      line-height: 2;
      font-weight: 700;
      margin: 0 0 15px;
      font-size: fs(15);
      padding: 0 20px;
    }

    &__img {
      margin: 40px 0 0 0;

      @include mq() {
        margin: 30px auto 0;
        max-width: 80%;
      }
    }
  }
}

.p-publish-form {
  padding: 60px 60px 40px;
	background-color: #fff;
	
  @include mq(sm2) {
		padding: 40px 0 40px;
	}

  &__first {
    width: 440px;
    margin: 0 auto 50px;
    color: #474F5F;
    font-size: fs(14);

    @include mq() {
      padding: 0 20px;
      width: 100%;
    }

    h3 {
      text-align: center;
      font-size: fs(16);
      margin: 0 0 23px;
      font-weight: 700;
    }

    p {
      margin: 0 0 20px;
    }
  }

	&--dateWrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;

		@include mq(sm2) {
			padding: 0 20px;
			margin-bottom: 15px;
		}
		.label-gray {
			margin-right: 8px;
		}
	}
  
	.form {
		border-top: solid 1px #EBEBEB;
		&.border-top-none {
			border-top: none;
		}
		&.border-bottom {
			border-bottom: solid 1px #EBEBEB;
		}

		&-row {
			display: flex;
			align-items: center;
			padding: 20px 15px;
			border-bottom: solid 1px #EBEBEB;
			&.border-bottom-none {
				padding-bottom: 0;
				border-bottom: none;
			}
			&.border-top {
				border-top: solid 1px #EBEBEB;
			}
			&.d-block {
				display: block;
			}
			&.type2 {
				@include mq(sm2) {
					display: block;
					.form-label {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}

			&Wrap2 {
				margin: 20px 0;
				background-color: #F4F4F4;
			}
			&--cnt {
				width: 100%;
				.label-box {
					@include mq(sm2) {
						flex-wrap: wrap;
						flex-flow: column;
						.link-blue {
							display: block;
						}
					}
				}
			}
			&--upload {
				display: flex;
				align-items: center;
				&-thumb {
					width: 120px;
					height: 90px;
					margin-right: 20px;
					overflow: hidden;
					img {
						width: 100%;	
					}
				}
			}
		}

    &-row2 {
			display: flex;
			align-items: center;
			padding: 20px 15px 0;
			
			&.border-bottom-none {
				padding-bottom: 0;
				border-bottom: none;
			}
			&.border-top {
				border-top: solid 1px #EBEBEB;
			}
			&.d-block {
				display: block;
			}
			&.type2 {
				@include mq(sm2) {
					display: block;
					.form-label {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}

			&Wrap2 {
				margin: 20px 0;
				background-color: #F4F4F4;
			}
			&--cnt {
				width: 100%;
				.label-box {
					@include mq(sm2) {
						flex-wrap: wrap;
						flex-flow: column;
						.link-blue {
							display: block;
						}
					}
				}
			}
			&--upload {
				display: flex;
				align-items: center;
				&-thumb {
					width: 120px;
					height: 90px;
					margin-right: 20px;
					overflow: hidden;
					img {
						width: 100%;	
					}
				}
			}
		}

		&-label {
			width: 150px;
			margin-right: 30px;
			flex-shrink: 0;
			margin-bottom: 0;
			&.type2 {
				width: 100px;
			}
			@include mq(sm2) {
				width: 77px;
				margin-right: 6px;
			}
		}

    &-radio {
      &--item {
        @include mq(sm2) {
          width: 100%;
        }
      }
    }

    &-groupField {
      display: flex;
      margin: -3px;
      
      &--item {
        padding: 3px;
        width: 100%;
      }
    }
	}

  &__title {
    margin-bottom: 10px;
    padding-top: 58px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #5DC1CF;
    background: url(../images/common/icon-tick-blue.png) top center/40px 40px no-repeat;
    text-align: center;

    @include mq() {
      padding: 58px 20px 0;
      font-size: fs(16);
    }
  }

  &__txt {
    color: #474F5F;
    margin: 0 auto 20px;
    line-height: 1.8;
    font-size: fs(14);
    width: 500px;

    @include mq() {
      padding: 0 20px;
      font-size: fs(12);
      width: 100%;
    }
  }
}