.p-reservation {
	&--count {
		padding: 0 20px;
		font-size: fs(12);
		&Wrap {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin: 0 0 20px;
			@include mq(sm2) {
				.select.input {
					width: 175px;
				}
			}
		}
		span {
			display: inline-block;
			margin-right: 5px;
			color: #474F5F;
			font-size: fs(18);
			font-weight: bold;
			font-family: $font-c;

		}
	}
	&--item {
		margin-bottom: 60px;
		&:last-child {
			margin-bottom: 0;
		}
		&-cnt {
			margin-top: 30px;
			background-color: #fff;
			&.type2 {
				padding: 40px 0;
				.p-20-20 {
					padding: 0 20px;
				}
			}
			&.type3 {
				padding: 40px 30px;
			}
		}
	}
	&--head {
		&-left {
			border-right: solid 1px #EBEBEB;
			@include mq(pc) {
				padding-right: 0;
				// border-right: 0;
			}
			@include mq() {
				border-right: 0;
			}
		}
		&-nameWrap {
			display: flex;
			align-items: center;
			padding: 15px;
			border-bottom: solid 1px #EBEBEB;
			@include mq() {
				display: block;
				padding: 15px 0 0;
				border-bottom: 0;
			}

			.ttl-nameWrap {
				padding-left: 20px;
			}
		}
		&-name {
			display: flex;
			padding-right: 20px;
			border-right: solid 1px #EBEBEB;
			@include mq() {
				justify-content: space-between;
				border-right: none;
				padding: 0 15px 10px;
				margin-bottom: 10px;
				border-bottom: solid 1px #EBEBEB;
			}
			.label-green {
				margin-left: 10px;
			}
		}
		&-timeWrap {
			padding: 15px;
			&-col {
				display: flex;
				align-items: center;
				@include mq(sm2) {
					margin-bottom: 10px;
				}
				.label-gray {
					margin-right: 10px;
				}
				.link-map {
					margin-left: 5px;
				}
			}
		}
		&-right {
			display: flex;
			align-items: center;
			justify-content: center;
			@include mq() {
				padding-bottom: 20px;
			}
			.row {
				margin: 0;
				@include mq(sm2) {
					justify-content: center;
				}
				.btn-white2 {
					margin-bottom: 5px;
					@include mq() {
						margin-bottom: 0;
						margin: 0 5px;
					}
					@include mq(sm2) {
						width: 148px;
						max-width: 46%;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&--viewmore {
		padding: 10px 0 30px;
	}
	&--detail {
		&-head {
			display: flex;
			margin-bottom: 20px;
			justify-content: flex-start;
			align-items: center;
			@include mq(sm2) {
				padding: 0 15px;
				justify-content: space-between;
			}
			&-tags {
				margin-left: 10px;
				display: flex;
				align-items: center;
				.label-white {
					margin-left: 3px;
				}
			}
		}
		.form-row--cnt {
			.ttl-name {

			}
			._itemWrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				@include mq(sm2) {
					display: block;
				}
			}
			._item {
				width: 48%;
				display: flex;
				align-items: center;
				margin-bottom: 10px;		
				@include mq(sm2) {
					width: 100%;
				}
				.label-gray {
					margin-right: 10px;
				}
				&-value {

				}
			}
		}
	}
	&--timeBox {
		background-color: #F4F4F4;
		margin-top: 40px;
		padding: 40px;
		text-align: center;
		@include mq(sm2) {
			margin: 20px 20px 0;
		}
		&-msg {
			margin-bottom: 15px;
			font-size: fs(14);
			color: #474F5F;
			font-weight: bold;
		}
	}

	&--pointsBox {
		margin-bottom: 50px;
		padding: 30px;
		background-color: #F4F4E4;
		&-inner {
			width: 390px;
			margin: 0 auto;
			max-width: 100%;
		}
		&-points {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 15px 0;
			padding: 10px;
			background-color: #fff;
			@include mq() {
			}
			&-label {
			}
			&-value {
				display: inline-block;
				margin-left: 10px;
				padding-left: 32px;
				font-size: fs(30);
				font-weight: bold;
				font-family: $font-c;
				color: #5DC1CF;
				background: url(../images/mypage/icon-points-blue.svg) left center no-repeat;
				background-size: 21px 21px;
				@include mq() {
					font-size: fs(20);
				}
				@include mq() {
					font-size: fs(30);
				}
				span {
					font-size: fs(14);
				}
			}
		}
	}

}


