.p-mypage {
	&--sidebarSearch {
		width: 330px;
		margin-right: 30px;
		flex-shrink: 0;
		@include mq() {
	    margin-top: 60px;
			margin-right: 0;
			width: 100%;
		}
	}
	&--inner {
		&.type2 {
			@include mq() {
				flex-flow: column-reverse;
			}
		}
	}
}

.p-reserve {
	padding: 40px 0 40px;
	background-color: #fff;
	&--steps {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 500px;
		max-width: 100%;
		margin: 0 auto 20px;
		@include mq(sm2) {
			width: calc(100% - 70px);
			margin-bottom: 65px;
		}
		&:after {
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			height: 2px;
			background-color: #F4F4E4;
			content: "";
		}
		&-col {
			position: relative;
			z-index: 1;
			// margin: 0 25px;
			@include mq(sm2) {
				// margin: 0 15px;
			}
			&-number {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background-color: #F4F4E4;
				color: #474F5F;
				font-size: fs(16);
				font-weight: bold;
				font-family: $font-c;
			}
			&.active {
				.p-reserve--steps-col-number {
					background-color: #5DC1CF;
					color: #fff;
				}
			}
			&-label {
				min-width: 74px;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translate(-50%, 110%);
				font-size: fs(12);
				color: #474F5F;
				font-weight: bold;
				text-align: center;
				@include mq(sm2) {
				// margin: 0 15px;
				}
			}
		}
	}
	&--cnt {
		margin-top: 50px;	
	}
	&--ttl {
		font-size: fs(16);
		font-weight: bold;
		padding: 16px 18px;
		color: #fff;
		background-color: #5DC1CF;
	}
	&--list {
		padding: 40px;
		&.type2 {
			padding: 30px 40px;
		}
		@include mq(sm2) {
			padding: 40px 20px;
			&.p-edit {
				padding-left: 0;
				padding-right: 0;
			}
			&.type2 {
				padding: 20px;
			}
		}
	}
	&--item {
		padding: 20px;
		margin-bottom: 20px;
		background-color: #F4F4F4;
		&:last-child {
			margin-bottom: 0;
		}
		&Box {
			border-top: solid 1px #EBEBEB;
		}
		&.type2 {
			margin-bottom: 0;
			background-color: #fff;
			border-bottom: solid 1px #EBEBEB;
			.p-reserve--item-head {
				margin-bottom: 10px;
				justify-content: space-between;
				.ttl-bold4 {
					max-width: 80%;
					@include mq(sm2) {
						max-width: 70%;
					}
				}
				@include mq(sm2) {
					display: flex;
				}

			}
			@include mq(sm2) {
				.p-hospitalReview--item-dateWrap {
					display: flex;
					flex-wrap: wrap;
				}
				.p-hospitalReview--item-dateWrap-child {
				}
			}
			&.blue {
				background-color: #E2EDFD;
			}
			&.gray {
				background-color: #C7C7C7;
			}
			&.gray2 {
				background-color: #EBEBEB;
			}
		}
		&-head {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 20px;
			.ttl-bold8 {
				&.type2 {
					width: 48%;
					flex-shrink: 0;
					margin-right: 10px;
				}
			}
			@include mq(sm2) {
				display: block;
				.ttl-bold8 {
					text-align: center;
					margin-bottom: 15px;
					&.type2 {
						width: 100%;
						margin-right: 0;
					}
				}
			}
			&-infor {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&-child {
					display: flex;
					align-items: center;
					margin-right: 15px;
					&:last-child {
						margin-right: 0;
					}
					.label-time {
						margin-right: 10px;
					}
					&-val {
						font-size: fs(12);
						display: flex;
						align-items: center;
						font-weight: bold;
						span {
							font-size: fs(16);
							font-family: $font-c;
							margin-right: 3px;
						}
					}
				}
			}
		}
		&-direct {
			margin-top: 30px;
			text-align: center;
		}
	}
	.calendar {
		&-head {
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			padding: 0 4px;
			&--ctrl {
				display: inline-block;
				border-radius: 6px;
				border: solid 1px #68A0FA;
				padding: 4px 12px;
				color: #68A0FA;
				font-size: fs(14);
				transition: all .25s;
				&:hover {
					background-color: #68A0FA;
					color: #fff;
				}
			}
			&--ttl {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				font-size: fs(16);
				font-family: $font-c;
				font-weight: bold;
				color: #474F5F;
			}
		}
		&-table {
			width: 100%;
			thead {
				// padding-bottom: 15px;
				tr {
					th {
						color: #474F5F;
						font-size: fs(14);
						font-weight: bold;
						text-align: center;
						padding-bottom: 8px;
						&.sunday {
							color: #FC2265;
						}
						&.saturday {
							color: #1854CC;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						padding: 4px;
						a {
							position: relative;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;
							height: 60px;
							padding-bottom: 20px; 
							font-size: fs(16);
							font-family: $font-c;
							color: #474F5F;
							font-weight: bold;
							border: solid 1px #5DC1CF;
							background-color: #F4F4F4;
							border-radius: 2px;
							transition: all .25s;
							&:hover {
								opacity: .7;
							}
							&:after {
								position: absolute;
								bottom: 10px;
								left: 50%;
								transform: translateX(-50%);
								display: block;
								width: 14px;
								height: 14px;
								border-radius: 50%;
								border: solid 1px #5DC1CF;
								content: "";
							}
						}
						&.disable {
							a {
								color: #C7C7C7;
								border-color: #EBEBEB;
								background-color: #EBEBEB;
								&:after {
									width: 6px;
									height: 2px;
									bottom: 16px;
									background-color: #C7C7C7;
									border: none;
								}
							}
						}
						&.cancel {
							a {
								color: #C7C7C7;
								border-color: #EBEBEB;
								background-color: #F4F4F4;
								&:after {
									width: auto;
									height: auto;
									bottom: 5px;
									font-size: fs(20);
									background: none;
									border: none;
									color: #5DC1CF;
									font-weight: normal;
									content: "×"
								}
							}
						}
					}
				}
			}
		}
	}
	.form {
		border-top: none;
		&-label {
			margin-right: 10px;
			@include mq(sm2) {
				width: 80px;
			}
		}
		&-radio {
			margin-bottom:10px;
			&.type2 {
				margin-bottom: 0;

			}
			&--item {
				width: 33%;
				@include mq(sm2) {
					width: 45%;
				}
				&.type2 {
					width: 45%;
					margin-left: 3px;
				}
			}
		}
		&-row {
			&Wrap {
				padding: 15px 0;
				border-bottom: solid 1px #EBEBEB;
			}
			&.type2 {
				background-color: #F4F4F4;
				border-bottom: none;
				padding: 20px 15px 15px;
			}
			&.type3 {
				padding: 15px;
				border-bottom: none;
				@include mq(sm2) {
					display: block;
				}
			}
			&--ttl {
				color: #474F5F;
				font-size: fs(16);
				font-weight: bold;
				padding: 0 15px 15px;
				&.border-bot {
					border-bottom: solid 1px #EBEBEB;
				}
				&.type2 {
					margin-top: 40px;
					margin-bottom: 15px;
					padding-bottom: 0;
				}
			}
		}
	}	
	&--intro {
		padding: 0 40px;
		@include mq(sm2) {
			padding: 0 20px;
		}
		&-box {
			padding: 15px 0;
			border-top: solid 1px #818181;
			border-bottom: solid 1px #818181;
		}
	}
	&--working {
		margin-top: 40px;
		&-ttl {
			margin-bottom: 30px;
		}
		&-table {
			&-row {
				display: flex;
				color: #004DE6;
				font-weight: bold;
				font-size: fs(14);
				line-height: 1.8;
			}
			&-label {
				width: 160px;
				flex-shrink: 0;
			}
			&-value {

			}
		}
		&-choices {
			padding: 40px 20px;
			background-color: #F4F4F4;
			&-list {

			}
			&-item {
				margin-bottom: 10px;
			}
		}
	}
}

// salon page

.p-salon {
	&--ttl {
		margin-bottom: 15px;
		text-align: center;
	}
	&--subTtl {
		font-size: fs(16);
		font-weight: bold;
		color: #474F5F;
		background-color: #D0E2DB;
		padding: 12px 15px;
	}
	.p-reserve--cnt {
		margin-top: 60px;
	}
	.p-reserve--list {
		padding-top: 0;
		padding-bottom: 0;
		&.type2 {
			@include mq(sm2) {
				padding: 20px;
			}
		}
	}
	&--direct {
		margin-top: 40px;
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
		@include mq(sm2) {
			margin-bottom: 0;
			padding: 0 20px;
			flex-flow: column-reverse;
		}
		a {
			width: 250px;
			margin-right: 12px;
			@include mq(sm2) {
				width: 100%;
				margin-right: 0;
				margin-top: 10px;
			}
			&:last-child {
				margin-right: 0;
				@include mq(sm2) {
					margin-top: 0;
				}
			}
		}
	}
	&--row {
		&.mgt-30 {
			@include mq(sm2) {
				margin-top: 20px;
			}
		}
	}
	&--options {
		padding: 0 20px;
		@include mq(sm2) {
			padding-top: 40px;
		}
		&-list {

		}
		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px 0;
			border-bottom: solid 1px #EBEBEB;
			.p-reserve--item-head {
				margin-bottom: 15px;
				@include mq(sm2) {
					display: flex;
					align-items: center;
					justify-content: space-between;
					.ttl-bold8 {
						margin-bottom: 0;
						text-align: left;
						max-width: 210px;
					}
				}
			}
			&-left {
				width: 100%;
			}
			.checkboxWrap {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 42px;
				flex-shrink: 0;
			}
		}
	}
}

// complete Infor
.p-completeInfor {
	&--head {
		margin-bottom: 40px;
		text-align: center;
		@include mq(sm2) {
	    margin-bottom: 30px;
	  }
		&-icon {
			margin-bottom: 40px;
			&-img {
				width: 50px;
				margin: 0 auto 15px;
			}
			&-desc {
				font-size: fs(16);
				font-weight: bold;
				color: #5DC1CF;
			}
		}
		&-intro {
			margin-bottom: 15px;
		}
	}
	&--box {
		width: 525px;
		max-width: 100%;
		margin: 0 auto 30px;
		padding: 30px;
		background-color: #F4F4F4;
		@include mq(sm2) {
	    padding: 20px;
	  }
		&-ttl {
			margin-bottom: 15px;
			color: #5DC1CF;
			font-weight: bold;
			font-size: fs(16);
			text-align: center;
		}
		&-subTtl {
			margin-bottom: 15px;
			text-align: center;
		}
		&-desc {
			margin-bottom: 30px;
		}
	}
}


