.p-resetPW {
	@include mq(sm2) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.p-reset {
	padding: 40px;
	background-color: #fff;
	@include mq(sm2) {
		padding: 40px 20px;
	}
	&Wrap {
		padding-bottom: 100px;
    min-height: 500px;
	}
	.form-input {
		margin-bottom: 20px;
	}
	&--label {
		margin-bottom: 5px;
		font-size: fs(12);
		font-weight: bold;
		color: #474F5F;
		span {
			display: inline-block;
			margin-left: 3px;
			color: #FF000B;
			font-weight: bold;
		}
	}
	&--submit {
		margin-top: 40px;
		text-align: center;
		.btn-submit {
			width: 335px;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}