.p-review {
	.p-reservation--detail-head {
		justify-content: space-between;
		padding-left: 20px;
	}
	&--list {
		border-top: solid 1px #EBEBEB;
	}
	&--item {
		width: 100%;
		padding: 20px 0 30px 20px;
		background-color: #fff;
		border-bottom: solid 1px #EBEBEB;
		@include mq(sm2) {
			padding: 20px;
		}
		&-head {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
		}
		&-cntWrap {
			display: flex;
			flex-wrap: wrap;
			@include mq(sm2) {
				margin-bottom: 5px;
			}
		}
		&-comment {
			@include mq(sm2) {
				margin-top: 20px;
			}
			&-box {
				// margin-left: 10px;
				padding: 20px 20px 25px 20px;
				background-color: #F4F4E4;
				.ttl-bold5 {
					margin-bottom: 15px;
				}
			}
		}
		&-cnt {
			display: flex;
			flex-wrap: wrap;
			padding-right: 10px;
			@include mq(sm2) {
				border-top: none;
			}
		}
		&-row {
			display: flex;
			align-items: flex-start;
			width: 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}

			@include mq(sm2) {
				width: 100%;
				border-bottom: 0;
				margin-bottom: 10px;
				padding: 0;
			}
			.label-gray {
				min-width: 100px;
				margin-right: 8px;
		    padding: 1px 3px;
			}
		}
	}
	.p-favorite--noresult {
		padding: 30px 0 20px;
	}
}