.p-salon {
	&--options {
		padding: 20px 20px 0;
		@include mq(sm2) {
			padding-left: 0;
			padding-right: 0;
		}
		&-list {
			@include mq(sm2) {
				margin-bottom: 40px;
			}
		}
		&-item {
			display: flex;
			padding-left: 5px;
			padding-right: 5px;
			&-cnt {
				@include mq(sm2) {
					padding: 0 10px;
				}
			}
			&-head {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 15px;
			}
			&-cbox {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 80px;
				flex-shrink: 0;
				@include mq(sm2) {
					width: 60px;
				}
			}
		}
	}
}


