$font-color: #818181;
$font-color-2: #474F5F;
$link-color: #5DC1CF;
$link-color-2:#68A0FA;
$yellow:#FACD68;
$transition: all 0.2s ease 0s;

.hogehoge {
	height: 440px;

	@include mq(sm2) {
		height: 600px;
	}
}

.js-menu {
	font-size: 0.875rem;
	font-weight: bold;
	position: fixed;
	z-index: 100000 !important;
	width: 355px;
	padding-left: 70px;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	transform: translate3d(100vw, 0, 0);
	transition: transform cubic-bezier(0.8, 0, 0.1, 1) 0.9s 0.2s;



	&__inner {
		position: relative;
		background: #fff;
		width: 285px;


		.js-menuTrigger {
			position: fixed;
			left: 0px;
			top: 20px;

		}

		a {
			display: block;
			color: $font-color;
		}



		.member-name {
			background: #C7C7C7;
			color: #fff;
			padding: 50px 20px 20px 30px;
			font-size: 0.75rem;

			.name {
				font-size: 0.875rem;
				margin-right: 3px;
			}

			&.logged-in {
				background: $link-color;
			}
		}

		.purpose {
			display: flex;

			>div {
				width: 50%;
				border-right: 1px solid #EBEBEB;
				border-bottom: 1px solid #EBEBEB;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background: #FAFAFA;

				&:last-child {
					border-right: none;
				}

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					padding: 16px 0;
				}
			}
		}

		.js-menu__list {

			li {
				border-bottom: 1px solid #EBEBEB;
				font-size: 0.75rem;

				a {
					padding: 16px 30px;
					background: url(../images/common/icon-arrow-right-blue.svg) no-repeat right 20px center;
				}
			}
		}

		.js-menu__bottom {
			padding: 40px 20px 30px;

			a {
				text-align: center;
				border-radius: 6px;
				padding: 15px;
			}

			.registration {
				margin-bottom: 10px;

				a {
					background: $yellow;

				}
			}

			.login,
			.mypage {

				a {
					background: $link-color-2;
					color: #fff;
				}
			}
		}
	}
}

.body-menuOpen {
	position: relative;

	&:after {
		content: "";
		display: block;
		background: #000;
		height: 100%;
		width: 100%;
		opacity: 0.8;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
	}

	.js-menu {
		transform: translate3d(0, 0, 0) !important;
		transition-delay: 0s !important;
	}
}



.modal {
	font-size: 0.875rem;

	.modal-dialog {
		&__inner {
			width: 375px;
			max-width: 95%;
			margin: 0 auto;
			text-align: center;
			background: #fff;

			position: relative;
			display: flex;
			flex-direction: column;
			pointer-events: auto;
			background-clip: padding-box;
			outline: 0;

			.modal-header {
				&__ttl {
					font-size: 1rem;
				}
			}

			.modal-cont {
				.search-from-list {
					li {
						text-align: left;

						.search-from-list__item-inner {
							border-bottom: 1px solid #EBEBEB;
							padding: 10px 30px;

							&.selected {
								background: #EBEBEB;
							}
						}

						label {
							position: relative;
							padding-left: 30px;

							&:before {
								content: "";
								width: 22px;
								height: 22px;
								border: 1px solid #C7C7C7;
								border-radius: 3px;
								display: block;
								position: absolute;
								left: 0px;
								top: -1px;
							}

							&:after {
								content: url(../images/search/hospital/icon-check.svg);
								position: absolute;
								left: 5px;
								top: -2px;
							}
						}

						input[type="checkbox"] {
							display: none;

							&:checked {
								+label {
									&:before {
										background: $link-color;
									}
								}
							}
						}

						.child,
						.child-2 {
							display: none;
						}
					}

					.parent {
						position: relative;

						.trigger {
							position: absolute;
							right: 0px;
							top: 10px;
							width: 30px;
							height: 30px;
							cursor: pointer;

							.up {
								display: none;
							}

							&.active {

								.up {
									display: inline;
								}

								.down {
									display: none;
								}
							}
						}

						.child .search-from-list__item-inner {
							padding-left: 60px;
						}

						.parent {
							.child .search-from-list__item-inner {
								padding-left: 90px;
							}
						}

						&.parent-active>.search-from-list__item-inner {
							background: #EFFDF8;
						}
					}

					&.area-list {
						li {
							input[type="checkbox"] {

								&:checked {
									+label {
										&:before {
											background: #c7c7c7;
										}
									}
								}
							}
						}
					}
				}
			}

			.modal-foot {
				padding: 30px 50px;

				.submit {
					margin-bottom: 10px;

					input {
						background: $link-color-2;
						color: #fff;
						border: 1px solid $link-color-2;
						border-radius: 6px;
						padding: 12px 66px;
					}
				}

				.reset {
					input {
						background: none;
						border: none;
						outline: none;
						color: $link-color-2;
					}
				}
			}
		}
	}
}






.main.search-main {
	padding: 90px 0 60px;
	background: #E4F7EE url(../images/mypage/bg.png) no-repeat center top;
	background-size: contain;
}

.p-mypage__slider {
	width: 728px;
	margin: 0 auto 40px;

	.slick-dots {
		li {

			button {
				position: relative;
				display: inline-block;
				width: 32px;
				height: 2px;
				font-size: 0;
				border: none;
				background-color: #fff;
				border-radius: 0;

				&:before {
					display: none;
				}
			}

			&.slick-active {
				button {
					background-color: $link-color;
				}
			}
		}
	}
}

.p-search {
	padding: 60px 100px;
	margin-bottom: 60px;
	background-color: #fff;
	font-size: 0.875rem;
	position: relative;
	margin-top: 115px;
	color: $font-color;

	.p-tabbox {
		&__btn-area {
			display: flex;
			position: absolute;
			left: 0;
			top: -75px;

			.p-tabbox__btn {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 75px;
				width: 187px;
				background: #F4F4F4;
				cursor: pointer;
				transition: $transition;

				.text {
					font-weight: bold;
				}

				&.active {
					background: #fff;
					color: $link-color;

					.icon svg path {
						fill: $link-color;
					}
				}
			}
		}

		&__panel-area {
			.p-tabbox__panel {
				display: none;

				&.active {
					display: block;
				}

				.lead-text {
					text-align: center;
					font-weight: bold;
					margin-bottom: 40px;
				}
			}
		}
	}

	.tabbox-2 {
		&__btn-area {
			display: flex;
			justify-content: center;
			margin-bottom: 40px;

			.tabbox-2__btn {
				margin: 0 10px;
				border-bottom: 2px solid #c7c7c7;
				font-weight: bold;
				cursor: pointer;
				transition: $transition;
				padding: 0 10px 10px;

				span {
					font-size: 85%;
				}

				&.active {
					color: $link-color;
					border-color: $link-color;
				}
			}
		}

		&__panel-area {
			.tabbox-2__panel {
				display: none;

				&.active {
					display: block;
				}

				.search-area {
					&__top {
						border-bottom: 1px solid #EBEBEB;
						margin-bottom: 40px;

						.keyword-search {
							background: #F4F4E4;
							padding: 20px;
							margin-bottom: 30px;

							&__inner {
								background: #fff;
								height: 50px;
								width: 355px;
								margin: 0 auto;
								border-radius: 5px;
								position: relative;
								overflow: hidden;

								.input-search {
									border: none;
									outline: none;
									padding: 0 10px;
									height: 50px;
									width: calc(100% - 65px);
								}

								.input-submit {
									width: 42px;
									height: 42px;
									border: none;
									outline: none;
									border-radius: 2px;
									position: absolute;
									right: 4px;
									top: 4px;
									overflow: hidden;
									text-indent: 100%;
									white-space: nowrap;

								}
							}
						}

						.date-search,
						.kodawari-search {
							margin-bottom: 30px;

							>p {
								font-weight: bold;
								margin-bottom: 10px;
							}

							ul {
								display: flex;
							}
						}

						.date-search {
							ul {
								justify-content: space-between;

								li {
									label {
										width: 191px;
										height: 50px;
										border: 1px solid $link-color;
										border-radius: 5px;
										display: flex;
										justify-content: center;
										align-items: center;

										span.date-name {
											color: $link-color;
											margin-right: 5px;
										}

										span.date {}
									}

									input[type="checkbox"] {
										display: none;

										&:checked {
											+label {
												background: $link-color;

												span.date-name,
												span.date {
													color: #fff;
												}
											}
										}
									}

									&.datepicker-wrap {
										position: relative;

										&:before {
											content: url(../images/search/hospital/icon-calendar.svg);
											position: absolute;
											left: 37px;
											top: 14px;
										}

										input[type="text"] {
											width: 191px;
											height: 50px;
											border: 1px solid #C7C7C7;
											border-radius: 5px;
											text-align: center;
											padding-left: 50px;

											&::placeholder {
												font-size: 12px;
												text-align: center;
												font-weight: bold;
											}
										}
									}
								}
							}
						}

						.kodawari-search {
							ul {
								justify-content: space-between;

								li {
									label {
										display: flex;
										align-items: center;
										position: relative;

										&:before {
											content: "";
											width: 22px;
											height: 22px;
											border: 1px solid #C7C7C7;
											border-radius: 3px;
											display: block;
											margin-right: 8px;
										}

										&:after {
											content: url(../images/search/hospital/icon-check.svg);
											position: absolute;
											left: 5px;
											top: 0;
										}
									}

									input[type="checkbox"] {
										display: none;

										&:checked {
											+label {
												&:before {
													background: $link-color;
												}
											}
										}
									}
								}
							}
						}

						.search-submit {
							width: 190px;
							height: 43px;
							margin: 0 auto 40px;

							&__btn {
								background: $link-color-2;
								color: #fff;
								width: 190px;
								height: 43px;
								border-radius: 22px;
								border: 1px solid $link-color-2;
								transition: $transition;

								&:hover {
									background: #fff;
									color: $link-color-2;
								}
							}
						}
					}

					&__bottom {
						>p {
							font-weight: bold;
							margin-bottom: 10px;
						}

						.main-list {
							display: flex;
							justify-content: space-between;
							margin-bottom: 30px;

							li {
								a {
									width: 191px;
									height: 100px;
									border: 1px solid #C7C7C7;
									border-radius: 5px;
									display: flex;
									flex-direction: column;
									justify-content: center;
									align-items: center;
									color: $link-color;

									.icon {
										height: 36px;
										margin-bottom: 5px;
									}
								}
							}
						}

						.sub-list {
							display: flex;
							justify-content: center;

							li {
								margin: 0 10px;

								a {
									color: $link-color-2;
								}
							}
						}
					}
				}
			}
		}
	}

}

.tolist-area {
	font-size: 0.875rem;
	margin-bottom: 60px;

	ul {
		display: flex;
		justify-content: space-between;

		li {
			a {
				background: #fff;
				width: 320px;
				height: 80px;
				display: flex;
				padding: 0 20px;
				align-items: center;
				border-radius: 5px;
				font-weight: bold;
				color: $link-color-2;
				box-shadow: 2px 2px 0px #D0E2DB;
				transition: $transition;

				&:hover {
					-webkit-transform: scale(1.01);
					transform: scale(1.01);
					z-index: 10;
					box-shadow: 0 8px 10px #D0E2DB;
				}

				.icon {
					margin-right: 10px;
				}

			}
		}
	}
}

.nearyou-area {
	font-size: 0.875rem;
	color: $font-color;
	margin-bottom: 60px;

	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		.head-ttl {
			font-size: 1rem;
			font-weight: bold;
			color: $font-color-2;
		}

		.head-link {
			a {
				color: $link-color-2;
			}
		}
	}

	.nearyou-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&__item {
			width: 235px;

			a {
				display: block;
				background: #fff;
				align-items: center;
				border-radius: 5px;
				box-shadow: 2px 2px 0px #D0E2DB;
				transition: $transition;
				overflow: hidden;

				&:hover {
					-webkit-transform: scale(1.01);
					transform: scale(1.01);
					z-index: 10;
					box-shadow: 0 8px 10px #D0E2DB;
				}

				.item-img {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 150px;
					overflow: hidden;

					img {
						width: 100%;
						height: auto;
					}
				}

				.item-text {
					padding: 20px 20px 35px;

					.item-ttl {
						font-weight: bold;
						color: $link-color-2;
						margin-bottom: 7px;
					}

					.item-address,
					.item-access {
						display: flex;
						font-size: 85%;
					}

					.icon {
						margin-right: 10px;
					}
				}

			}
		}
	}
}



.received-consultation {
	color: $font-color;
	margin-bottom: 100px;

	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		.head-ttl {
			font-size: 1rem;
			font-weight: bold;
			color: $font-color-2;
		}

		.head-link {
			a {
				color: $link-color-2;
			}
		}
	}

	&__unit {

		font-size: 0.75rem;
		background: #fff;
		margin-bottom: 6px;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.unit__inner {
			padding: 0 40px;

			.unit-top {
				border-bottom: 1px solid #EBEBEB;
				padding-bottom: 15px;
				margin-bottom: 10px;

				.question {
					position: relative;

					a {
						color: $link-color-2;
					}

					&:before {
						content: "Q";
						background: $link-color;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						position: absolute;
						left: -40px;
						top: 0;
						color: #fff;
						font-size: 1rem;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			.unit-bottom {
				.data {
					display: flex;
					align-items: center;

					.time {
						display: flex;
						align-items: center;
						margin-right: 30px;

						img {
							margin-right: 5px;
						}
					}

					.tags {
						margin-right: 20px;

						ul {
							display: flex;

							li {
								margin-right: 20px;
								position: relative;

								&:after {
									content: "";
									display: block;
									width: 1px;
									height: 60%;
									background: $font-color;
									position: absolute;
									right: -10px;
									top: 20%;
								}

								&:last-child {
									&:after {
										display: none;
									}
								}
							}
						}
					}

					.good {
						display: flex;
						align-items: center;
						cursor: pointer;

						.icon {
							margin-right: 5px;
							position: relative;
							top: -3px;
						}

						.icon svg path,
						.icon svg rect {
							fill: $font-color;
						}

						.ttl {
							margin-right: 10px;
						}

						.number {
							background: url(../images/search/hospital/icon-balloon.svg) no-repeat;
							width: 31px;
							height: 28px;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						&.on {

							.icon svg path,
							.icon svg rect {
								fill: #FF9D00;
							}
						}
					}
				}
			}
		}

		.clip {
			width: 50px;
			flex: 0 0 auto;
			text-align: center;
			cursor: pointer;
			transition: $transition;

			.icon {
				margin-bottom: 10px;

				svg path {
					transition: $transition;
				}
			}

			&:hover {
				color: $link-color;

				.icon svg path {
					fill: $link-color;
				}

			}


		}

	}
}

.column-area {
	background: #DAEEB3;
	margin-bottom: 160px;

	&__inner {
		width: 1060px;
		margin: 0 auto;
		position: relative;
		padding-bottom: 160px;
	}

	&__head {
		.head-ttl {
			color: $link-color;
			font-size: 2rem;
			font-family: "Montserrat", sans-serif;
			margin: 0px 0 60px;
			position: relative;
			top: -20px;
		}
	}

	.column-wrap {
		display: flex;

		.column-post {
			width: 33.33%;

			&:nth-child(3n+1) {
				padding: 0 12px 0 0;
			}

			&:nth-child(3n+2) {
				padding: 0 6px 0;
			}

			&:nth-child(3n+3) {
				padding: 0 0 0 12px;
			}

			a {
				display: block;
				background: #fff;
				border-radius: 10px;
				padding: 30px;
				transition: $transition;

				&:hover {
					-webkit-transform: scale(1.01);
					transform: scale(1.01);
					z-index: 10;
				}

				.post-thumb {
					margin-bottom: 15px;
				}

				.post-text {
					time {
						font-size: 0.8125rem;
						color: #9A9A9A;
						margin-bottom: 5px;
						display: block;
					}

					.post-ttl {
						font-weight: bold;
					}
				}
			}
		}
	}

	.lets-post {
		width: 650px;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		bottom: -90px;
		transform: translate(-50%, 0);

		a {
			transition: $transition;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}


.news-area {
	color: $font-color;
	margin-bottom: 60px;

	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		.head-ttl {
			color: $link-color;
			font-size: 2rem;
			font-family: "Montserrat", sans-serif;
		}

		.head-link {
			a {
				color: $link-color-2;
			}
		}
	}

	&__cont {
		padding: 20px;
		margin-bottom: 60px;
		background-color: #fff;
		font-size: 0.875rem;
		position: relative;

		.p-news--list {
			.p-news--item {
				padding: 18px 0;
			}
		}
	}
}


.fbn-area {
	a {
		transition: $transition;

		&:hover {
			opacity: 0.8;
		}
	}

	.point-gift {
		margin-bottom: 60px;
	}

	.fbn-area__flex {
		.fbn-list {
			display: flex;
			justify-content: center;

			li {
				margin: 0 10px;

				img {
					height: 120px;
					width: auto;
				}
			}
		}
	}
}




.hospital-search-wrap {
	display: flex;
	justify-content: space-between;
}

.sidebar-hospital-search {
	width: 230px;
	font-size: 0.875rem;
	color: $font-color;

	.keyword-search {
		margin-bottom: 30px;
		font-size: 0.75rem;

		&__inner {
			background: #fff;
			height: 50px;
			border-radius: 5px;
			position: relative;
			overflow: hidden;

			.input-search {
				border: none;
				outline: none;
				padding: 0 10px;
				height: 50px;
				width: calc(100% - 65px);
			}

			.input-submit {
				width: 42px;
				height: 42px;
				border: none;
				outline: none;
				border-radius: 2px;
				position: absolute;
				right: 4px;
				top: 4px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;

			}
		}
	}

	.refined-search {
		background: #fff;
		padding: 30px 0;
		margin-bottom: 30px;
	}

	.date-search,
	.kodawari-search,
	.area-search {
		margin-bottom: 30px;
		padding: 0 20px;

		>p {
			font-weight: bold;
			margin-bottom: 20px;
			color: $link-color;
		}
	}

	.date-search {
		ul {
			justify-content: space-between;

			li {
				margin-bottom: 10px;
				font-size: 0.75rem;

				label {
					display: flex;
					align-items: center;
					position: relative;

					&:before {
						content: "";
						width: 22px;
						height: 22px;
						border: 1px solid #C7C7C7;
						border-radius: 50%;
						display: block;
						margin-right: 8px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 8px;
						height: 8px;
						background: #fff;
						border-radius: 50%;
						left: 7px;
						top: 7px;
					}
				}

				input[type="radio"] {
					display: none;

					&:checked {
						+label {
							&:before {
								background: $link-color;
							}
						}
					}
				}

				&.datepicker-wrap {
					position: relative;

					&:before {
						content: url(../images/search/hospital/icon-calendar.svg);
						position: absolute;
						right: 20px;
						top: 14px;
					}

					input[type="text"] {
						width: 100%;
						height: 50px;
						border: 1px solid #C7C7C7;
						border-radius: 5px;

						&::placeholder {
							font-size: 12px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}

	.kodawari-search {
		ul {
			justify-content: space-between;

			li {
				margin-bottom: 20px;

				label {
					display: flex;
					align-items: center;
					position: relative;

					&:before {
						content: "";
						width: 22px;
						height: 22px;
						border: 1px solid #C7C7C7;
						border-radius: 3px;
						display: block;
						margin-right: 8px;
					}

					&:after {
						content: url(../images/search/hospital/icon-check.svg);
						position: absolute;
						left: 5px;
						top: 0;
					}
				}

				input[type="checkbox"] {
					display: none;

					&:checked {
						+label {
							&:before {
								background: $link-color;
							}
						}
					}
				}
			}
		}
	}

	.area-search {

		.prefectures,
		.municipalities {
			>p {
				margin-bottom: 3px;
			}

			.select-wrap {
				margin-bottom: 12px;
				position: relative;

				select {
					width: 100%;
					height: 50px;
					border: 1px solid #C7C7C7;
					border-radius: 5px;
					padding: 10px;

					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}

				&:before {
					content: url(../images/common/icon-arrow-down-blue.svg);
					position: absolute;
					width: 11px;
					height: 6px;
					top: 50%;
					right: 9px;
					margin-top: -12px;
					display: block;
				}
			}
		}

	}

	.more-search {
		>p {
			font-weight: bold;
			margin-bottom: 20px;
			padding: 0 20px;
			color: $link-color;
		}

		&__inner {
			border-top: 1px solid #EBEBEB;

			&:last-child {
				border-bottom: 1px solid #EBEBEB;
			}

			.trigger {
				padding: 15px 20px;
				background: url(../images/common/icon-arrow-right-blue.svg) no-repeat right 20px center;

				&.active {
					background: #FAFAFA url(../images/common/icon-arrow-down-blue.svg) no-repeat right 20px center;
				}

				+ul {
					display: none;
					background: #FAFAFA;
					padding-bottom: 1px;

					li {
						margin-bottom: 20px;
						padding: 0 0 0 40px;

						label {
							display: flex;
							align-items: center;
							position: relative;

							&:before {
								content: "";
								width: 22px;
								height: 22px;
								border: 1px solid #C7C7C7;
								border-radius: 3px;
								display: block;
								margin-right: 8px;
								background: #fff;
							}

							&:after {
								content: url(../images/search/hospital/icon-check.svg);
								position: absolute;
								left: 5px;
								top: 0;
							}
						}

						input[type="checkbox"] {
							display: none;

							&:checked {
								+label {
									&:before {
										background: $link-color;
									}
								}
							}
						}
					}
				}
			}

		}
	}

	.refined-search__bottom {
		padding: 30px 20px 0;

		.form-btn-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;

			.submit {
				margin-bottom: 10px;

				input {
					background: $link-color-2;
					color: #fff;
					border: 1px solid $link-color-2;
					border-radius: 6px;
					padding: 7px 45px;
				}
			}

			.reset {
				input {
					background: none;
					border: none;
					outline: none;
					color: $link-color-2;
				}
			}
		}

		.search-from-history,
		.search-from-like {
			text-align: center;

			a {
				color: $link-color-2;
			}
		}

		.search-from-history {
			margin-bottom: 20px;
		}
	}

	.bn-area {
		ul {
			li {
				margin-bottom: 30px;
			}
		}
	}

}

.main-hospital-search {
	width: 730px;
	font-size: 0.875rem;
	color: $font-color;

	&__head {
		display: flex;
		justify-content: space-between;

		margin-bottom: 30px;

		.search-result-ttl {
			background: #D0E2DB;
			height: 52px;
			padding: 16px 30px;
			width: calc(100% - 205px);

			span {
				margin: 0 10px;
			}
		}

		.rearrange {
			.select-wrap {
				position: relative;

				select {
					width: 175px;
					height: 52px;
					border: none;
					border-radius: 5px;
					padding: 10px;

					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}

				&:before {
					content: url(../images/common/icon-arrow-down-blue.svg);
					position: absolute;
					width: 11px;
					height: 6px;
					top: 50%;
					right: 9px;
					margin-top: -12px;
					display: block;
				}
			}
		}
	}

	&__cont {

		.hospital-unit {
			background: #fff;
			width: calc(50% - 10px);
			font-size: 0.75rem;
			margin: 0 5px 20px;

			&__inner {
				padding: 15px 15px 10px;
			}

			&__ttl {
				color: $link-color-2;
				font-weight: bold;
				font-size: 1rem;
				margin-bottom: 10px;
			}

			&__ratingWrap {
				display: flex;
			}

			&__rating {
				display: flex;
			}

			&__rating-cmt {
				display: flex;
				margin-bottom: 5px;

				a {
					position: relative;
					display: block;
					padding-left: 22px;
					margin-left: 10px;

					&:before {
						position: absolute;
						top: 5px;
						left: 0;
						width: 17px;
						height: 15px;
						display: block;
						background: url(../images/search/icon-msg.svg) no-repeat;
						background-size: 100% 100%;
						content: "";
					}
				}
			}

			&__address-wrap {
				display: flex;
				margin-bottom: 10px;
			}

			&__address,
			&__access {
				display: flex;
				align-items: center;

				.icon {
					margin-right: 5px;
				}

			}

			&__address {
				margin-right: 20px;
			}

			&__img {
				margin-bottom: 10px;

				.slick-list {
					padding: 0 20px 0 0 !important;
				}

				ul {
					li {
						margin-right: 10px;
					}
				}
			}

			&__tags-1 {
				display: flex;
				margin-bottom: 10px;

				span {
					background: $link-color;
					color: #fff;
					margin: 0 3px 3px 0;
					border-radius: 2px;
					width: 75px;
					text-align: center;

					&.green-1 {
						background: $link-color;
					}

					&.green-2 {
						background: #62AF5D;
					}

					&.yellow {
						background: $yellow;
						color: $font-color;
					}

					&.gray {
						background: #818181;
					}
				}
			}

			&__tags-2 {
				margin-bottom: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				span {
					background: #EBEBEB;
					margin: 0 0 5px;
					border-radius: 2px;
					width: calc(50% - 2.5px);
					height: 40px;
					display: flex;
					align-items: center;
					padding: 0 20px;
				}
			}

			&__message {
				font-size: 1rem;
				font-weight: bold;
				color: $font-color-2;
			}

			&__info {
				color: $font-color-2;
				border-top: 1px solid #EBEBEB;

				.info-row {
					display: flex;
					border-bottom: 1px solid #EBEBEB;
					padding: 10px 15px;

					.info-label {
						width: 7em;
						font-weight: bold;
					}
				}
			}

			&__foot {
				padding: 15px;
				display: flex;
				justify-content: space-between;

				.reserve {
					width: calc(100% - 80px);
					font-size: 0.875rem;
					font-weight: bold;

					a {
						display: block;
						background: $link-color-2;
						color: #fff;
						border: 1px solid $link-color-2;
						border-radius: 6px;
						padding: 12px;
						text-align: center;
					}
				}

				.like {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}

		}
	}

	&__pagination {
		margin: 60px 0;

		.pagination {
			display: block;
			text-align: center;

			>p {
				font-size: 0.625rem;
				color: $font-color-2;
				margin-bottom: 10px;
			}

			ul {
				display: flex;
				justify-content: center;

				li {
					width: 30px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;

					margin: 0 2px;

					a {
						background: #fff;
						width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 2px;
						transition: $transition;

						&:hover {
							background: #707070;
							color: #fff;
						}
					}

					&.current {
						background: #707070;
						color: #fff;
					}

					&.prev,
					&.next {
						a {
							background: none;
							transition: $transition;

							&:hover {
								opacity: 0.8;
							}
						}
					}
				}
			}
		}
	}
}


.p-hospital {
	margin-bottom: 60px;
	background-color: #fff;
	font-size: 0.875rem;
	position: relative;
	color: $font-color;

	&__top {
		padding: 50px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #EBEBEB;
		padding-bottom: 150px;

		.top__img,
		.top__text {
			width: calc(50% - 25px);
		}

		.top__img {
			&__main-slider {
				margin-bottom: 3px;
			}

			&__nav-slider {

				.slick-track {
					width: 100% !important;
					transform: unset !important;
				}

				li {
					opacity: 0.3;
					transition: $transition;
					width: calc(25% - 3px) !important;
					margin-right: 3px;

					&.slick-current {
						opacity: 1;
					}
				}
			}
		}

		.top__text {
			&__ttl {
				color: $link-color-2;
				font-weight: bold;
				font-size: 1.125rem;
				margin-bottom: 15px;
			}

			&__ratingWrap {
				display: flex;
				margin-bottom: 5px;

				.link {
					color: $link-color-2;
				}
			}

			&__rating {
				display: flex;
			}

			&__rating-cmt {
				display: flex;
				margin-left: 6px;

				a {
					position: relative;
					display: block;
					padding-left: 22px;
					margin-left: 10px;

					&:before {
						position: absolute;
						top: 5px;
						left: 0;
						width: 17px;
						height: 15px;
						display: block;
						background: url(../images/search/icon-msg.svg) no-repeat;
						background-size: 100% 100%;
						content: "";
					}
				}
			}

			&__address-wrap {
				display: flex;
				margin-bottom: 10px;
			}

			&__address,
			&__access {
				display: flex;
				align-items: center;

				.icon {
					margin-right: 5px;
				}

			}

			&__address {
				margin-right: 20px;
			}

			&__tags-2 {
				margin-bottom: 10px;
				display: flex;
				flex-wrap: wrap;

				span {
					background: #EBEBEB;
					margin: 0 5px 5px 0;
					border-radius: 2px;
					display: flex;
					align-items: center;
					padding: 0 20px;
					font-size: 0.75rem;
				}
			}

			&__message {
				color: $font-color-2;
				padding: 20px 0;

				p {
					font-size: 0.75rem;

					&.lead {
						font-size: 1rem;
						font-weight: bold;
						margin-bottom: 15px;

					}
				}
			}

			&__foot {
				display: flex;
				justify-content: space-between;
				padding: 15px 0;

				.reserve {
					width: calc(100% - 100px);
					font-size: 0.875rem;
					font-weight: bold;

					a {
						display: block;
						background: $link-color-2;
						color: #fff;
						border: 1px solid $link-color-2;
						border-radius: 6px;
						padding: 12px;
						text-align: center;
						transition: $transition;

						&:hover {
							background: none;
							color: $link-color-2;
						}
					}
				}

				.like {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}
	}


	&__middle {
		position: relative;
		padding: 50px 50px 20px;

		.p-tabbox {
			border-bottom: 1px solid #EBEBEB;
			padding-bottom: 30px;

			&__btn-area {
				display: flex;
				position: absolute;
				top: -70px;
				left: 50px;

				.p-tabbox__btn {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 70px;
					width: 126px;
					background: #EBEBEB;
					cursor: pointer;
					transition: $transition;
					border-top: 1px solid #EBEBEB;
					border-right: 1px solid #fff;
					font-weight: bold;

					&.active {
						background: #fff;
						color: $link-color;
					}

					&:first-child {
						border-left: 1px solid #EBEBEB;
					}

					&:last-child {
						border-right: 1px solid #EBEBEB;
					}
				}
			}

			&__panel-area {
				.p-tabbox__panel {
					display: none;

					&.active {
						display: block;
					}
				}
			}
		}

		.overview-wrap {
			display: flex;
			padding: 0 40px;
			justify-content: space-between;

			.overview-text,
			.overview-map {
				width: calc(50% - 40px);
			}

			.overview-text {
				font-size: 0.75rem;

				&__info {
					color: $font-color-2;

					.info-row {
						display: flex;
						border-bottom: 1px solid #EBEBEB;
						padding: 10px 13px;

						table {
							width: 100%;
							margin: -10px auto 20px;

							th,
							td {
								border: 1px solid #C7C7C7;
								text-align: center;
								vertical-align: middle;
								padding: 14px 8px;
							}

							th {
								background: #F4F4F4;
								width: 9em;
							}
						}

						.info-label {
							width: 8em;
							font-weight: bold;
						}

						.info-cont {
							flex: 0 30 auto;
						}

						&:last-child {
							border: none;
						}
					}
				}
			}

			.overview-map {
				&__map {
					margin-bottom: 20px;
				}

				&__btn {
					a {
						border: 1px solid #818181;
						border-radius: 6px;
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 52px;

						.icon {
							margin-left: 10px;
						}
					}
				}
			}
		}

		.introduction-wrap {
			.introduction-unit {
				border-top: 1px solid #EBEBEB;
				padding: 20px 0 40px;

				&__ttl {
					font-size: 1.125rem;
					font-weight: bold;
					margin-bottom: 15px;
				}

				&__flex {
					display: flex;
				}

				&__text {
					flex: 0 30 auto;

					&-heading {
						color: $link-color;
						font-size: 1rem;
						font-weight: bold;
						margin-bottom: 10px;
					}

					&-cont {
						font-size: 0.75rem;
					}
				}

				&__img {
					max-width: 50%;
					margin-left: 40px;
				}
			}
		}

		.review-wrap {
			padding: 0 40px;

			.review-write {
				border-bottom: 1px solid #EBEBEB;
				display: flex;
				justify-content: flex-end;
				padding-bottom: 30px;

				&__btn {
					a {
						display: block;
						background: $link-color-2;
						color: #fff;
						border: 1px solid $link-color-2;
						border-radius: 6px;
						padding: 3px 30px;
						text-align: center;
						font-weight: bold;
						transition: $transition;

						&:hover {
							background: none;
							color: $link-color-2;
						}
					}
				}
			}

			.overall-rating {
				border-bottom: 1px solid #EBEBEB;
				padding: 20px 0;

				&__ttl {
					font-size: 1rem;
					font-weight: bold;
					color: $font-color-2;
					margin-bottom: 30px;
				}

				&__head {
					margin-bottom: 20px;
					display: flex;
					align-items: flex-end;

					.overall-rating-stars-wrap {
						display: flex;

						.overall-rating-stars {
							margin-right: 10px;

							img {
								height: 20px;
								width: 20px;
							}
						}
					}

					.overall-rating-number {
						font-size: 1rem;
						margin-right: 50px;
					}
				}

				&__cont {
					.star-wrap {
						display: flex;
						align-items: center;
						margin-bottom: 6px;
						width: 563px;

						.bar-ttl {
							width: 60px;
						}

						.bar {
							background: $link-color;
							height: 15px;

						}
					}
				}

			}

			.review-voice {
				padding: 20px 0;

				&__ttl-wrap {
					display: flex;
					margin-bottom: 30px;
					align-items: center;
				}

				&__ttl {
					font-size: 1rem;
					font-weight: bold;
					color: $font-color-2;
				}

				&__rating-cmt {
					a {
						position: relative;
						display: block;
						padding-left: 22px;
						margin-left: 18px;

						&:before {
							position: absolute;
							top: 3px;
							left: 0;
							width: 17px;
							height: 15px;
							display: block;
							background: url(../images/search/icon-msg.svg) no-repeat;
							background-size: 100% 100%;
							content: "";
						}
					}
				}

				&__cont {}

				&__unit {
					margin-bottom: 30px;

					&-head {
						background: #FAFAFA;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px 20px;
					}

					&-name {
						font-weight: bold;
					}

					&-stars-wrap {
						display: flex;
						align-items: center;
					}

					&-stars {
						margin-right: 5px;
					}

					&-rating-number {
						padding-top: 2px;
					}

					&-cont {
						padding: 20px;
						font-size: 0.75rem;
					}

					&-foot {
						font-size: 0.75rem;
						padding: 0 20px;
						display: flex;
						justify-content: space-between;

						&-data-wrap {
							display: flex;
						}

						&-data {
							display: flex;
							margin-right: 30px;

							&-label {
								background: #F4F4F4;
								padding: 0 20px;
								margin-right: 10px;

							}
						}
					}
				}

				&__more {
					text-align: center;
					padding: 20px 0 0;

					a {
						color: $link-color-2;
					}
				}
			}
		}

	}

	&__bottom {
		.point-area {
			padding: 0 50px;
			margin-bottom: 100px;

			.point-ttl {
				font-size: 1rem;
				font-weight: bold;
				margin-bottom: 20px;
				color: $font-color-2;
			}

			.point-list {
				display: flex;

				li {
					width: 33.33%;
					display: flex;
					align-items: center;

					&:nth-child(3n+1) {
						padding: 0 14px 0 0;
					}

					&:nth-child(3n+2) {
						padding: 0 7px 0;
					}

					&:nth-child(3n+3) {
						padding: 0 0 0 14px;
					}

					.icon {
						margin-right: 20px;
						width: 65px;
					}

					.text {
						flex: 0 30 auto;
						font-weight: bold;
						color: $link-color;
					}
				}
			}
		}

		.reserve-area {
			background: #F4F4E4;
			padding: 50px 100px;

			&__inner {
				display: flex;
				position: relative;

				.reserve-text {
					width: 56%;

					&__ttl {
						color: $link-color;
						font-weight: bold;
						font-size: 1.125rem;
						margin-bottom: 10px;
					}

					&__cont {
						font-weight: bold;
						color: $font-color-2;
					}
				}

				.reserve-btn {
					width: 40%;

					a {
						display: block;
						background: $link-color-2;
						color: #fff;
						border: 1px solid $link-color-2;
						border-radius: 6px;
						padding: 14px;
						text-align: center;
						font-weight: bold;
						transition: $transition;

						&:hover {
							background: none;
							color: $link-color-2;
						}
					}
				}

				.reserve-illust {
					position: absolute;
					left: -30px;
					top: -125px;
				}
			}
		}
	}
}