.p-signup {
	&--cnt {
    width: 560px;
    max-width: 100%;
    margin: 0 auto;
		&-head {
			@include mq(sm2) {
				padding: 0 20px;
			}
		}
	}
	&--completed {
		&-list {
			width: 600px;
			max-width: 100%;
			margin: 0 auto 20px;
			@include mq(sm2) {
				padding: 0 10px;
			}
		}
		&-item {
			margin-bottom: 20px;
			&-inner {
				display: block;
				.ttl-bold4 {
					margin-bottom: 15px;
				}
			}
			&-thumb {
				// height: 193px;
				margin-bottom: 20px;
			}
		}
		&-msg {
			font-style: fs(16);
			font-weight: bold;
			color: #474F5F;
			text-align: center;
			margin-bottom: 30px;
			line-height: 1.8;
			&.type2 {
				text-align: center;
				font-weight: bold;
			}
			@include mq(sm2) {
				text-align: left;
				font-weight: normal;
			}
		}
	}
	&--direct {
		display: flex;
		flex-flow: column;
		align-items: center;
		.btn-blue2 {
			margin-bottom: 30px;
			@include mq(sm2) {
				width: 100%;
			}
		}
	}
}