@charset "UTF-8";

/* -------------------
  TOP PAGE
--------------------*/
.main {
  position: relative;

  &-mv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    @include mq(st) {
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-msg {
    position: absolute;
    // top: 300px;
    top: 12.7%;
    left: vw(180);
    color: #474F5F;
    font-size: fs(24);
    font-weight: bold;
    z-index: 4;

    @include mq() {
      top: 14.5%;
      left: vw2(44);
      font-size: fs(18);
    }
  }
}

.section01 {
  position: relative;
  z-index: 1;

  img {
    width: 100%;
  }

  &-magic {
    position: absolute;

    &.heart01 {
      width: 3%;
      left: 22.5%;
      top: 34.5%;

      @include mq() {
        width: 7%;
        left: 22.5%;
        top: 42.8%;
      }
    }

    &.heart02 {
      width: 2.1%;
      left: 34.6%;
      top: 28.5%;

      @include mq() {
        width: 5%;
        left: 20.5%;
        top: 19%;
      }
    }

    &.heart03 {
      width: 3%;
      left: 40.2%;
      top: 43.2%;

      @include mq() {
        width: 7%;
        left: 38%;
        top: 32%;
      }
    }

    &.heart04 {
      width: 2.6%;
      left: 49%;
      top: 29.5%;

      @include mq() {
        width: 5%;
        left: 49.5%;
        top: 22.3%;
      }
    }

    &.heart05 {
      width: 2.3%;
      left: 61.5%;
      top: 29.5%;

      @include mq() {
        width: 6%;
        left: 67%;
        top: 41%;
      }
    }

    &.heart06 {
      width: 2.5%;
      left: 69.7%;
      top: 32%;

      @include mq() {
        width: 5%;
        left: 67%;
        top: 21%;
      }
    }
  }
}

.section {
  position: relative;

  &-gift {
    position: relative;
    padding-bottom: 80px;
    text-align: center;
    background: #F7F4E1;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -100px;
      width: 110%;
      height: 300px;
      border-bottom-left-radius: 80%;
      border-bottom-right-radius: 80%;
      background: #F7F4E1;
      z-index: -1;
      transform: translateX(-50%);
    }

    @include mq() {
      padding: 0 0 50px;

      &::after {
        height: 150px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }

    &--desc {
      margin-bottom: 50px;
      font-weight: 700;

      @include mq() {
        margin-bottom: 40px;
        padding: 0 15px;
        text-align: left;
      }
    }

    &--ttl {
      color: #474F5F;
    }

    &--date {
      margin-bottom: 10px;
    }

    &--price {
      margin-bottom: 25px;
    }
  }

  &-about {
    background: #F7F4E1;
    padding: 150px 0 60px;

    .section-titleWrap {
      position: relative;
      padding-bottom: 55px;
      @include mq() {
        padding-left: 20px;
      }
      &--img {
        width: 285px;
        position: absolute;
        left: 15px;
        top: 28px;

        @include mq() {
          width: 256px;
          top: 18px;
          // left: vw2(56);
          left: 50%;
          transform: translate3d(-55%, 0, 0);
        }
      }

      &--bg {
        width: 612px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-47%, -12%);
        -webkit-transform: translate(-47%, -12%);
        @include mq() {
          width: 375px;
          top: -26px;
          left: 0;
          transform: translate(0%, 0%);
          -webkit-transform: translate(0%, 0%);
        }
      }

      &--inner {
        position: relative;
        z-index: 1;
      }
    }

    &--row {
      padding: 120px 0 40px;

      @include mq() {
        padding: 40px 0 20px;
      }
      &.about01 {
        //background: url(../images/top/bg-about01.png) no-repeat;
        background-size: cover;
      }

      &.about02 {
        //background: url(../images/top/bg-about02.png) no-repeat;
        background-size: cover;

        .section-about--row-inner {
          flex-flow: row-reverse;
          @include mq(sm2) {
            flex-flow: wrap;
          }
        }
      }

      &-thumb {
        text-align: center;
        @include mq() {
          margin-bottom: 25px;
          img {
            max-width: 100%;
            width: vw2(200);
          }
        }
      }

      &-cnt {
        padding: 0 20px;

        .ttl-icon {
          margin-bottom: 18px;
          @include mq() {
            margin-bottom: 10px;
          }
        }

        .ttl-underline {
          margin-bottom: 40px;
          @include mq() {
            margin-bottom: 20px;
          }
        }

        .desc {
          margin-bottom: 40px;
          @include mq() {
            margin-bottom: 30px;
          }
        }

        .desc7 {
          margin-bottom: 40px;
          @include mq() {
            margin-bottom: 30px;
          }
        }
      }
    }

    &__start {
      width: 940px;
      background: #fff;
      border-radius: 50px;
      padding: 60px;
      margin: 140px auto 50px;
      text-align: center;

      @include mq() {
        width: 94vw;
        font-size: fs(16);
        padding: 40px;
        text-align: left;
        line-height: 1.75;
        border-radius: 10px;
        margin: 80px auto 0;
      }
      
      p {
        font-weight: 700;
        margin: 0 0 40px;
        letter-spacing: 0.9px;
      }
    }
  }

  &-search {
    .section-titleWrap {
      position: relative;
      padding-bottom: 55px;
      text-align: center;

      &--img {
        width: 305px;
        position: absolute;
        left: 50%;
        top: 24px;
        transform: translate(-48%, 0);
        -webkit-transform: translate(-48%, 0);
        @include mq() {
          width: 245px;
        }
      }

      &--bg {
        width: 471px;
        position: absolute;
        left: 50%;
        top: 35px;
        transform: translate(-48%, 0);
        -webkit-transform: translate(-48%, 0);
        @include mq() {
          width: 300px;
        }
      }

      &--inner {
        position: relative;
        z-index: 1;
      }
    }

    .container2 {
      position: relative;
      padding: 200px 0 300px;

      @include mq() {
        padding: 180px 0 150px;
      }
    }

    &--cnt {
      margin: 110px auto 0;

      @include mq() {
        margin: 80px auto 0;
      }
    }

    &--magic {
      position: absolute;

      &.cat {
        top: -20px;
        right: -100px;
        width: 144px;
        @include mq() {
          width: 74px;
          right: 25px;
          top: -30px;
        }
        // width: 9vw;
      }

      &.dog {
        top: 88px;
        right: 73px;
        width: 155px;
        @include mq() {
          width: 81px;
          right: 120px;
          top: 20px;
        }
        // width: 9vw;
      }
    }
  }

  &-column {
    position: relative;
    padding: 100px 0 140px;
    background: url(../images/top/bg-column.png) no-repeat;
    background-size: cover;

    @include mq() {
      padding: 72px 0 160px;
    }

    .section-titleWrap {
      position: relative;
      padding-bottom: 55px;
      width: 335px;
      // margin-left: auto;
      // margin-right: vw(250);
      // margin-top: -180px;
      margin: -180px auto 0;
      text-align: center;

      @include mq() {
        width: 170px;
        // left: 13px;
        // top: -68px;
        // margin-right: 30px;
        margin: -145px auto 0;
        // margin-top: -145px;
      }

      &--img {
        width: 379px;
        position: absolute;
        left: -20px;
        top: 28px;

        @include mq() {
          width: 287px;
          max-width: 80vw;
          left: 50%;
          top: 35px;
          transform: translateX(-50%);
        }
      }

      &--bg {
        width: 463px;
        position: absolute;
        right: -50px;
        top: -135px;

        @include mq() {
          width: 226px;
          right: -32px;
          top: -80px;
        }
      }

      &--inner {
        position: relative;
        z-index: 1;
      }
    }

    &--magic {
      position: absolute;
      top: -198px;
      left: 70px;
      width: 438px;
      @include mq() {
        width: 153px;
        left: 13px;
        top: -68px;
      }
    }

    &--list {
      padding: 100px 0 0;
      @include mq() {
        padding: 60px 5px 0;
      }
    }

    &--item {
      @include mq() {
        margin-bottom: 10px;
      }
      a {
        height: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        @include mq() {
          display: flex;
          align-items: center;
          padding: 24px 20px;
        }
      }

      &-thumb {
        height: 180px;
        margin-bottom: 20px;
        @include mq() {
          width: 120px;
          height: 78px;
          margin-bottom: 0;
          margin-right: 12px;
          flex-shrink: 0;
        }
      }

      &-cnt {
        
      }

      .date3 {
        margin-bottom: 10px;
      }
    }

    &--direct {
      margin-top: 40px;
      text-align: center;
      @include mq() {
        padding: 0 20px;
      }
    }
  }

  &-banner {
    position: relative;
    margin-top: -140px;
    text-align: center;
    z-index: 2;
    @include mq() {
      padding: 0 8px;
    }

    img {
      width: 650px;
      max-width: 100%;
      // transform: translateY(40%);
    }
  }

  &-banner2 {
    position: relative;
    text-align: center;
    z-index: 2;
    background: #F7F4E1;
    margin: -120px 0 0;

    @include mq() {
      padding: 0 8px;
    }

    img {
      width: 650px;
      max-width: 100%;
      // transform: translateY(40%);
    }
  }

  &-entry {
    margin-top: 75px;

    &--infor {
      position: relative;
      margin-bottom: -265px;
      text-align: center;
      z-index: 2;

      &-logo {
        width: 128px;
        margin: 0 auto 25px;
      }

      .ttl-bold2 {
        margin-bottom: 35px;
        @include mq() {
          margin-bottom: 20px;
        }
      }

      .desc3 {
        margin-bottom: 60px;
        font-weight: 700;

        @include mq() {
          font-weight: bold;
          margin-bottom: 30px;
        }
      }
    }

    &--img {
      position: relative;
      width: 100%;
      max-width: 1205px;
      margin: 0 auto;
      @include mq() {
        padding-top: 200px;
      }
      &-magic {
        position: absolute;
        z-index: 99;

        &.heart01 {
          width: 3.2%;
          left: 14.5%;
          top: 57.5%;
          @include mq() {
            width: 7%;
            left: 2%;
            top: 69%;
          }
        }

        &.heart02 {
          width: 4.1%;
          left: 29.4%;
          top: 44%;
          @include mq() {
            width: 8.2%;
            left: 20%;
            top: 62%;
          }
        }

        &.heart03 {
          width: 3.6%;
          left: 37.6%;
          top: 65%;
          @include mq() {
            width: 7.3%;
            left: 32%;
            top: 75%;
          }
        }

        &.heart04 {
          width: 2.6%;
          left: 48.7%;
          top: 48.5%;
          @include mq() {
            width: 6.3%;
            left: 47%;
            top: 66%;
          }
        }

        &.heart05 {
          width: 2.37%;
          left: 64.8%;
          top: 49%;
          @include mq() {
            width: 6.2%;
            left: 69.5%;
            top: 65%;
          }
        }

        &.heart06 {
          width: 2.93%;
          left: 75.9%;
          top: 52.4%;
          @include mq() {
            width: 6%;
            left: 85%;
            top: 68.5%;
          }
        }
      }
    }
  }

  &-for {
    padding: 80px 0;
    color: #474F5F;

    @include mq() {
      padding: 80px 0 100px;
    }

    &__box {
      width: 940px;
      margin: 0 auto;
      background: #EBEBEB;
      border-radius: 50px;
      padding: 70px 60px 65px;
      text-align: center;

      @include mq() {
        width: 94vw;
        padding: 60px 20px 55px;
        border-radius: 10px;
      }

      h2 {
        font-size: fs(31);
        font-weight: 700;
        margin: 0 0 45px;

        @include mq() {
          font-size: fs(24);
          margin: 0 0 30px;
        }
      }

      p {
        font-size: fs(15);
        font-weight: 700;
        margin: 10px 0;

        @include mq() {
          font-size: fs(13);
        }
      }

      a {
        color: #5DC1CF;
        text-decoration: underline;
      }
    }

    &__tel {
      color: #5DC1CF;
      font-weight: 700;
      font-size: fs(32);
      text-decoration: none !important;

      @include mq() {
        font-size: fs(25);
      }

      span {
        font-size: fs(18);
        padding: 0 5px 0 0;

        @include mq() {
          font-size: fs(16);
        }
      }
    }

    &__here {
      font-weight: 400 !important;
    }
  }

  &-company {
    &__inner {
      width: 940px;
      margin: 0 auto;
      color: #474F5F;

      @include mq() {
        width: 94vw;
      }

      h2 {
        font-size: fs(31);
        font-weight: 700;
        margin: 0 0 45px;
        text-align: center;

        @include mq() {
          font-size: fs(24);
        }
      }

      table {
        width: 100%;
        margin: 0 0 100px;

        @include mq() {
          display: block;
          margin: 0 0 80px;
        }

        tbody {
          @include mq() {
            display: block;
          }

          tr {
            @include mq() {
              display: block;
            }

            th {
              font-size: fs(14);
              font-weight: 700;
              padding: 19px 10px 19px 20px;
              border-top: 1px solid #5DC1CF;

              @include mq() {
                display: block;
              }
            }
            
            td {
              font-size: fs(14);
              border-top: 1px solid #EBEBEB;
              padding: 19px 10px 19px 20px;

              @include mq() {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &-merit {
    padding: 120px 0 200px;

    &__cnt {
      display: flex;
      justify-content: space-between;

      @include mq() {
        display: block;
      }
    }

    &__box {
      width: 48%;
      background: #F7F4E1;
      border-radius: 50px;
      padding: 55px 60px 50px;
      text-align: center;

      @include mq() {
        width: 94vw;
        margin: 0 auto 20px;
        border-radius: 10px;
        padding: 55px 20px 50px;
      }

      p {
        text-align: left;
        font-size: fs(15);
        font-weight: 700;
        color: #474F5F;
        line-height: 2;
        margin: 0 0 30px;

        @include mq() {
          font-size: fs(13);
        }
      }
    }
  }

  &-news {
    padding: 120px 0 160px;
    background: #F7F4E1;

    @include mq() {
      padding: 80px 0 120px;
    }

    &__inner {
      width: 650px;
      margin: 0 auto;

      @include mq() {
        width: 94vw;
      }
    }

    &__cnt {
      display: flex;

      @include mq() {
        display: block;
      }
    }

    &__h {
      width: calc( 200 / 650 * 100% );

      @include mq() {
        font-size: fs(20);
        margin: 0 0 20px;
      }

      h3 {
        font-size: fs(26);
        font-weight: 700;
        color: #474F5F;

        @include mq() {
          font-size: fs(20);
        }

        span {
          display: block;
          color: #5DC1CF;
          font-family: $font-a;
          font-size: fs(18);
          font-weight: 400;

          @include mq() {
            font-size: fs(18);
          }
        }
      }
    }

    &__list {
      width: calc( 450 / 650 * 100% );

      @include mq() {
        width: 100%;
      }

      li {
        margin: 0 0 30px;
        background: #fff;

        @include mq() {
          margin: 0 0 20px;
        }

        a {
          display: block;

          @include mq() {
            padding: 0 0 5px;
          }

          time {
            font-size: fs(13);
            font-family: $font-a;
            font-weight: 700;
          }
  
          p {
            font-size: fs(14);
          }
        }
      }
    }

    &__btn {
      text-align: center;
      margin: 20px auto 0;
    }
  }
}



.parallax {
  position: relative;
  background-image: url('../images/top/mv.png');
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;

  @include mq(st) {
    background-attachment: scroll;
    // background: none;
    // z-index: -1;

    // .para1 {
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100vh;
    //   background-image: url('../images/top/mv.png');
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   background-position: center top;
    // }
  }

  @include mq(sm2) {
    background: none;
    z-index: -1;

    .para1 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url('../images/top/mv-sp.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }


  &.type2 {
    z-index: -1;
    background-image: url('../images/top/section01.png');
    background-position: center top;

    @include mq(st) {
      // background: none;
      // z-index: -2;

      // .para2 {
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100vh;
      //   // background-image: url('../images/teaser/section01_t.png');
      //   background-image: url('../images/top/section01.png');
      //   background-size: 100%;
      // }
    }

    @include mq(sm2) {
      // background-image: url('../images/top/section01-sp.png');
      // background-size: 100%;
      background: none;
      z-index: -2;

      .para2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url('../images/top/section01-sp.png');
        background-size: 100%;
      }
    }

    .section01__msg {
      transition: all 1s;
      position: absolute;
      bottom: 100px;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 50px);
      text-align: center;
      color: #474F5F;
      z-index: 10;

      @include mq() {
        left: 3vw;
        transform: none;
        width: 94vw;
        bottom: 70px;
      }
  
      h3 {
        position: relative;
        font-size: fs(36);
        font-weight: 700;
        margin: 0 0 55px;
  
        @include mq() {
          font-size: fs(24);
          margin: 0 0 25px;
          display: inline-block;
        }
  
        span {
          @include mq() {
            position: relative;
            z-index: 2;
          }
        }
  
        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url(../images/teaser/section-01-msg-bg.svg);
          background-repeat: no-repeat;
          background-size: 100% auto;
          z-index: -1;
  
          @include mq() {
            z-index: 1;
            top: 6px;
          }
        }
      }
  
      p {
        font-size: fs(18);
        font-weight: 700;
        line-height: 2;
  
        @include mq() {
          font-size: fs(16);
        }
      }
    }

    &.scroll {
      .section01__msg {
        &.in {
          transform: translate(-50%, 0);
          opacity: 1;
  
          @include mq() {
            transform: translate(0, 0);
            opacity: 1;
          }
        }
      }
    }
  }

  &.scroll {
    background-attachment: scroll;

    &.type2 {
      height: auto;
    }
  }
}

.btn-comingsoon {
  display: inline-block;
  background-color: #9A9A9A;
  color: #fff;
  height: 55px;
  line-height: 55px;
  font-size: fs(12);
  font-family: $font-a;
  font-weight: 500;
  min-width: 400px;
  max-width: 100%;
  border-radius: 72px;
  text-align: center;
  transition: all .3s;

  @include mq(sm2) {
    width: 100%;
    min-width: 260px;
  }
}

.header-teaser {
  position: absolute;
  width: 100%;
  z-index: 100;

  .header-logo {
    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 280px;
      height: 26px;
      transition: all .3s;

      @include mq() {
        top: 20px;
        left: 17px;
      }

      &.active {
        width: 180px;
        top: 25px;

        @include mq() {
          top: 20px;
          left: 17px;
        }

        svg {
          .a {
            fill: #5DC1CF;
          }
        }
      }

      img, svg {
        width: 100%;
      }
    }
  }

  &.scroll {
    @include mq() {
      height: 70px;
    }
  }
}

.footer-teaser {
  .footer-logo {
    &--imgT {
      width: 280px;
      margin: 0 auto;
    }
  }
}