.p-withdraw {
	.ttl-bold3 {
		margin-bottom: 10px;
	}
	.txt-alert {
		margin-bottom: 15px;
	}
	&--points {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 354px;
			// height: 80px;
			padding: 23px 0;
			margin: 0 auto 40px;
			color: #474F5F;
			background-color: #F4F4F4;
			max-width: 90%;
			@include mq() {
				padding: 18px 0;
			}
			@include mq(sm2) {
				flex-flow: column;
			}
			&.type2 {
				flex-flow: column;
		    width: auto;
		    max-width: 100vw;
		    margin: 0 -20px;
		    padding: 15px 0;
		    .p-withdraw--points-value {
		    	span {
			    	font-size: fs(18);
		    	}
		    }
			}
			&-label {
				font-size: fs(16);
				font-weight: bold;
				padding: 5px 0 5px 30px;
				background: url(../images/mypage/icon-points-black.svg) left center no-repeat;
			}
			&-value {
				margin-left: 10px;
				font-size: fs(26);
				font-weight: bold;
				font-family: $font-c;
				@include mq(sm2) {
					display: block;
				}
				span {
					font-size: fs(14);
				}
			}
		}
}