/* Nina */
.button--ninaWrap {
	display: inline-block;
	text-align: center;
	min-width: 154px;
  	max-width: 100%;
	background: #fff;
	border-radius: 72px;
	overflow: hidden;
	@include mq(sm2) {
    width: 100%;
  }
}
.button--nina {
	position: relative;
	display: inline-block;
	// width: inherit;
	height: 55px;
  line-height: 56px;
  // padding: 0 2em;
	color: #474F5F;
	// overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	vertical-align: middle;
	font-size: fs(12);
  font-family: $font-a;
  font-weight: 500;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	// border-radius: 72px;
	span {
		vertical-align: middle;
	}
}
.button--nina > span {
	display: inline-block;
	// padding: 1em 0;
	// letter-spacing: -1.5px;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
	content: attr(data-text);
	position: absolute;
	top: -12px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--ninaWrap:hover {
	background-color: #474F5F;
	letter-spacing: -1.5px;
}
.button--ninaWrap:hover .button--nina {
	letter-spacing: -1.5px;
}
.button--ninaWrap:hover .button--nina::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--ninaWrap:hover .button--nina > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--ninaWrap:hover .button--nina > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(2) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(3) {
	-webkit-transition-delay: 0.135s;
	transition-delay: 0.135s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(4) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(5) {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(6) {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(7) {
	-webkit-transition-delay: 0.315s;
	transition-delay: 0.315s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(8) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(9) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.405s;
}
.button--ninaWrap:hover .button--nina > span:nth-child(10) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.button--nina:after {
	position: absolute;
	right: -2px;
	top: calc(50% - 4px);
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../images/common/icon-arrow-right.svg) no-repeat;
  transition: all .3s;
	content: "";
	z-index: 1;
}

.button--ninaWrap:hover .button--nina:after {
	top: calc(50% - 3px);
	display: inline-block;
	transform: translateX(18px);
	background-image: url(../images/common/icon-arrow-right-white.svg);
}

.button--ninaWrap--blue {
	background: #4AABB8;

	.button--nina {
		color: #fff;

		span {
			color: #4AABB8;
		}

		&::after {
			background: url(../images/common/icon-arrow-right-white.svg) no-repeat;
		}
	}

	&:hover {
		background-color: #fff;
		letter-spacing: -1.5px;

		.button--nina {
			color: #4AABB8;

			&::after {
				background: url(../images/common/icon-arrow-right-blue.svg) no-repeat;
			}
		}
	}
}