@charset "UTF-8";

/* Fade up */
.fadeleft {
  opacity: 0;
  transform: translate(-80px, 0);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.fadeleft2 {
  transform: translate(-80px, 0);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    transform: translate(0, 0);
  }
}