@charset "UTF-8";

/* Fade up */
.fadeup {
  opacity: 0;
  transform: translate(0, 35%);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.fadeup2 {
  transform: translate(0, 80px);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    transform: translate(0, 0);
  }
}