.fuwafuwa {
   animation: fuwafuwa 2.5s infinite;
}

.fuwafuwa-t {
  animation: fuwafuwa-t 3.5s infinite;
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fuwafuwa-t {
  0% {
    transform: translateY(0px);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(-180%);
    opacity: 0;
  }
}